
body {
  font-family: 'Open Sans', sans-serif;
}

#header {
  color: #333;
  background-color: #fff;
  padding: 20px;
}

#header a {
  text-decoration: none; 
}

#title {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 1em;
}

/* Optimizations for mobile */
@media screen and (max-width: 768px) {
  #header {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;

  }
  #header p {
    font-size: 1.1em;
  }
  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
  }
  h2 {
    font-size: 1.6em;
  }
}

/* Additional optimizations smaller viewport phones;
   e.g., older iPhones */
@media screen and (max-width: 350px) {
  #important-dates {
    font-size: 0.8em;
  }
  .jumbotron p {
    font-size: 1.0em;
  }
  .jumbotron h1 {
    font-size: 2.2em;
  }
}
