
body {
  font-family: 'Open Sans', sans-serif;
}

#header {
  color: #333;
  background-color: #fff;
  padding: 20px;
}

#header a {
  text-decoration: none; 
}

#title {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 1em;
}

/* Optimizations for mobile */
@media screen and (max-width: 768px) {
  #header {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;

  }
  #header p {
    font-size: 1.1em;
  }
  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
  }
  h2 {
    font-size: 1.6em;
  }
  #footer {
    font-size: 0.8em;
  }
}

.jumbotron {
  margin-bottom: 0px;
}

/* Additional optimizations smaller viewport phones;
   e.g., older iPhones */
@media screen and (max-width: 350px) {
  #important-dates {
    font-size: 0.8em;
  }
  .jumbotron p {
    font-size: 1.0em;
  }
  .jumbotron h1 {
    font-size: 2.2em;
  }
  #footer {
    font-size: 0.6em;
  }
}

.panel-body {
  padding-bottom: 1px;
}

#footer {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 5px;
}

#footer-acl-logo {
  width: 30px;
  margin-right: 20px;
}

#cfp-dates, #sponsorship-booklet {
  font-size: 0.9em;
}

#twitter-stream {
  margin: 10px 0px 10px 0px;
}

#policies {
  margin-top: 15px;
}

div.sponsor-item {
  padding: 10px 0px 10px 0px;
}

.sponsor {
  margin-top: 20px;
}

.sponsor .panel-body {
  padding: 20px 10px 0px 20px;
}

#platinum-sponsors.panel-default  {
  border: 0px;
  margin-top: 30px;
}
#gold-sponsors.panel-default  {
  border: 0px;
  margin-top: 30px;
}
#bronze-sponsors.panel-default  {
  border: 0px;
  margin-top: 30px;
}

#platinum-sponsors.panel-default > .panel-heading {
  background-color: #e5e4e2;
  color: #444443;
  border: 1px solid #ddd;
}

#gold-sponsors.panel-default > .panel-heading {
  background-color: #fff7bc;
  color: #665600;
  border: 1px solid #ddd;
}

#bronze-sponsors.panel-default > .panel-heading {
  background-color: #ebcbad;
  color: #523214;
  border: 1px solid #ddd;
}

.invited-speaker-content {
  padding-bottom: 10px;
}

a#srw {
 text-decoration: underline;
}

div#tutorials-list {
  margin: 30px 0px 30px 0px;
}

#tutorials-list .panel-title {
  font-weight: bold;
}

span.tutorial-title {
  vertical-align: middle;
}
.ws-label {
  font-family: monospace;
  font-size: 0.9em;
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.tutorial-label {
  font-family: monospace;
  vertical-align: middle;
}

img.sponsor-logo {
  height: 60px;
  margin: 0px 100px 20px 0px;
}

#tutorials-list .panel-heading {
  padding: 5px 15px 5px 15px;
}
