html, body {
  height: 100%;
}
.navbutton {
  display: none;
  margin-bottom: 10px;
}

#hmenu li {
 font-size: 1.2em;
}

.navbar-toggle {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  float: left; 
  display: block;
  margin: 0px;
  padding: 5px 9px 3px 9px;
/*  background-color: #2b3e50; */
}

.navbar {
  float: left;
  background: inherit;
  border: none;
  margin: 10px 0px 0px -50px;
  min-height: 0px;
}

.navmenu {
  /* background-color: #4e5d6c; */
  font-size: 1.2em;
  width: 200px;
}

.glyphicon.glyphicon-menu-hamburger {
  font-size: 22px;
}

.brand {
  background-color: #2d2d2d;
  font-size: 1.2em;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.brand a {
  text-decoration: none;
  color: #fff;
}

img#brand {
  width: 100px;
  margin-bottom: 5px;
}
.navmenu-brand {
  background-color: #303030;
  font-size: 1.2em;
  font-weight: bold;
}

.navmenu-inverse {
  border: #fff;
}

.navmenu-inverse .navmenu-nav>li>a, .navbar-inverse .navbar-offcanvas .navmenu-nav>li>a {
  color: #fff;
}
.navmenu-inverse .navmenu-brand, .navbar-inverse .navbar-offcanvas .navmenu-brand {
  color: #fff;
}
/* Optimizations for mobile & tablets */
@media screen and (max-width: 760px) {
  .navbar {
    display: inline;
    background: inherit;
    margin: 20px 0;
    float: inherit;
    right: auto;
  }
  .navbutton {
    display: inline;
  /*
    display: table;
    content: " ";
  */
  }
  #hmenu {
    display: none;
  }
  .navbar-toggle {
    display: inline;
  }
}
