---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Best Papers - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Best papers and runners-up, long and short, for the main conference." />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %}
    <div class="container">
    </div> <!-- container -->

    <div class="jumbotron" id="header">
      <div class="container">
            <div class="navbutton">
        <!-- class="navbar navbar-default navbar-fixed-left">  -->
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-7">
          <h2><span class="glyphicon glyphicon-ok-circle"></span> <b>Best Papers: Main Conference</b></h2>
          <h4>
            <a href="program.html">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="program.html">Back to Program</a>
          </h4>
          <div class="alert alert-info alert-dismissable" role="alert">
            Thank you to all our reviewers.
            This year's <a href="best_reviewers.html" class="alert-link">Best Reviewers</a> have been identified by area chairs.
          </div>
          <p><h4><b>Best Short Paper</b></h4></p>
          <p>
            <b>Improving sentence compression by learning to predict gaze</b><br>
            Sigrid Klerke, Yoav Goldberg and Anders S&oslash;gaard
          </p>
          <br>
          <p><h4><b>Short Paper, Runners Up</b></h4></p>
          <p>
            <b>Patterns of Wisdom: Discourse-Level Style in Multi-Sentence Quotations</b><br>
            Kyle Booten and Marti A. Hearst
          </p>
          <p>
            <b>A Joint Model of Orthography and Morphological Segmentation</b><br>
            Ryan Cotterell, Tim Vieira and Hinrich Sch&uuml;tze
          </p>
          <br>
          <p><h4><b>Best Long Papers</b></h4></p>
          <p>
            <b>Feuding Families and Former Friends; Unsupervised Learning for Dynamic Fictional Relationships</b><br>
            Mohit Iyyer, Anupam Guha, Snigdha Chaturvedi, Jordan Boyd-Graber and Hal Daum&eacute; III
          </p>
          <p>
            <b>Learning to Compose Neural Networks for Question Answering</b><br>
            Jacob Andreas, Marcus Rohrbach, Trevor Darrell and Dan Klein
          </p>
          <br>
          <p><h4><b>Long Paper, Runners Up</b></h4></p>
          <p>
            <b>Multi-way, Multilingual Neural Machine Translation with a Shared Attention Mechanism</b><br>
            Orhan Firat, Kyunghyun Cho and Yoshua Bengio
          </p>
          <p>
            <b>Black Holes and White Rabbits; Metaphor Identification with Visual Features</b><br>
            Ekaterina Shutova, Douwe Kiela and Jean Maillard
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row -->
    </div> <!-- container -->

    <!-- put new container content here -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
