---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Best Papers - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Best papers and runners-up, long and short, for the main conference." />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %}
    <div class="container">
    </div> <!-- container -->

    <div class="jumbotron" id="header">
      <div class="container">
            <div class="navbutton">
        <!-- class="navbar navbar-default navbar-fixed-left">  -->
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-7">
          <h2><span class="glyphicon glyphicon-ok-circle"></span> <b>Best Reviwers</b></h2>
          <h4>
            <a href="program.html">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="program.html">Back to Program</a>
          </h4>
          <br>

          <div class="row">
            <div class="col-md-5">
              <ul>
              <li>Yaser Al-Onaizan</li>
              <li>Enrique Alfonseca</li>
              <li>Daniel Andrade</li>
              <li>Jacob Andreas</li>
              <li>Ion Androutsopoulos</li>
              <li>Gabor Angeli</li>
              <li>David Bamman</li>
              <li>Ritmiek Banerjee</li>
              <li>Emily Bender</li>
              <li>Taylor Berg-Kirkpatrick</li>
              <li>Chris Biemann</li>
              <li>Arianna Bisazza</li>
              <li>Graeme Blackwood</li>
              <li>Gemma Boleda</li>
              <li>Florian Boudin</li>
              <li>Jose Camacho-Collados</li>
              <li>Marie Candito</li>
              <li>Taylor Cassidy</li>
              <li>Colin Cherry</li>
              <li>Christos Christodopoulos</li>
              <li>Alina Maria Ciobanu</li>
              <li>Jon Clark</li>
              <li>Trevor Cohn</li>
              <li>Danilo Croce</li>
              <li>Hal Daume III</li>
              <li>Marie-Catherine de Marneffe</li>
              <li>Jose G. C. de Souza</li>
              <li>John DeNero</li>
              <li>Jacob Devlin</li>
              <li>Dmitriy Genzel</li>
              <li>Doug Downey</li>
              <li>Gabe Doyle</li>
              <li>Mark Dras</li>
              <li>Greg Durrett</li>
              <li>Steffen Eger</li>
              <li>Jason Eisner</li>
              <li>Michael Elhadad</li>
              <li>Francis Ferraro</li>
              <li>Mikel Forcada</li>
              <li>James Foulds</li>
              <li>Matt Gardner</li>
              <li>Dan Garrette</li>
              <li>Yvette Graham</li>
              <li>Barry Haddow</li>
              <li>Matthias Hagen</li>
              <li>David Hall</li>
              <li>Mohammed Hasanuzzaman</li>
              <li>Kai Hong</li>
              <li>Mohit Iyyer</li>
              <li>Anders Johannsen</li>
              <li>Mahesh Joshi</li>
              <li>Dan Jurafsky</li>
              <li>Dimitri Karsaklis</li>
              <li>Daisuke Kawahara</li>
              <li>Alexandre Klementiev</li>
              <li>Grzegorz Kondrak</li>
              <li>Ioannis Konstas</li>
              <li>Yannis Korkontzelos</li>
              <li>Roland Kuhn</li>
              <li>Shankar Kumar</li>
              </ul>
            </div>
            <div class="col-md-5">
              <ul>
                <li>Jonathan K. Kummerfeld</li>
                <li>Tomer Levinboim</li>
                <li>Rivka Levitan</li>
                <li>Omer Levy</li>
                <li>Junyi Jessy Li</li>
                <li>Yangfeng Li</li>
                <li>Klaus Macherey</li>
                <li>Wolfgang Macherey</li>
                <li>Wolfgang Maier</li>
                <li>Andreas Maletti</li>
                <li>Christopher D. Manning</li>
                <li>Diana McCarthy</li>
                <li>David McClosky</li>
                <li>Lili Mou</li>
                <li>Philippe Muller</li>
                <li>Dragos Munteanu</li>
                <li>Yugo Murawaki</li>
                <li>Masaki Nagaata</li>
                <li>Ajay Nagesh</li>
                <li>Mark-Jan Nederhof</li>
                <li>Dominick Ng</li>
                <li>Vincent Ng</li>
                <li>Vlad Niculae</li>
                <li>Jian-Yin Nie</li>
                <li>Joel Nothman</li>
                <li>Stephan Oepen</li>
                <li>Myle Ott</li>
                <li>Adam Pauls</li>
                <li>Daniele Pighin</li>
                <li>Andrei Popescu Belis</li>
                <li>Matt Post</li>
                <li>Vinod Prabhakaran</li>
                <li>Matt Purver</li>
                <li>Ashequl Qadir</li>
                <li>Rohan Ramanath</li>
                <li>Jason Riesa</li>
                <li>Verena Rieser</li>
                <li>Eric Ringger</li>
                <li>Brian Roark</li>
                <li>Stephen Roller</li>
                <li>Sophie Rosset</li>
                <li>Wolfgang Seeker</li>
                <li>Thamar Solorio</li>
                <li>Vivek Kumar Rangarajan Sridhar</li>
                <li>Vivek Srikumar</li>
                <li>Jun Suzuki</li>
                <li>Akihiro Tamura</li>
                <li>Joel Tetreault</li>
                <li>Kapil Thadani</li>
                <li>Ivan Titov</li>
                <li>Marco Turchi</li>
                <li>Raghavendra Udupa</li>
                <li>Clare Voss</li>
                <li>Ivan Vulic</li>
                <li>Henning Wachsmuth</li>
                <li>Marilyn Walker</li>
                <li>Taro Watanabe</li>
                <li>Wouter Weerkamp</li>
                <li>Michael Wiegand</li>
                <li>Min Yang</li> 
               </ul>
            </div>
          </div>
        </div> <!-- col-md-7 -->
      </div> <!-- row -->
    </div> <!-- container -->

    <!-- put new container content here -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
