---
---
<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container">
      <h2><span class="glyphicon glyphicon-bullhorn"></span> Call for Papers</h2>
      <div class="row">
        <div class="col-md-8">
          <p><a href="cfp.txt"><span class="glyphicon glyphicon-download"></span></a>
           <a href="cfp.txt"> Download the Call for Papers here.</a>
          <blockquote id="cfp-dates">
          <p>Long and Short paper submission deadline: <b>Jan 6, 2016</b><br>
             Author response period: <b>Feb 10&ndash;15, 2016</b><br>
             Notification to authors: <b>Mar 2, 2016</b>
          </p>
          </blockquote>

<h3><b>NAACL HLT 2016 First Call for Papers</b></h3>

<p><i>The 15th Annual Conference of the North American Chapter of the Association for Computational Linguistics:<br>Human Language Technologies (NAACL HLT 2016)</i></p>
<p><i>June 12 to June 17, 2016</i></p>
<p><i>San Diego, California, United States</i></p>
<p><i><a href="http://naacl.org/naacl-hlt-2016/">http://naacl.org/naacl-hlt-2016/</a></i></p>

<p>NAACL HLT 2016 will feature long papers, short papers, demonstrations, and a student research workshop, as well as associated tutorials and workshops. In addition, some of the presentations at the conference will be of papers accepted for the new Transactions of the ACL journal (<a href="http://www.transacl.org">http://www.transacl.org</a>).</p>

<p>The conference invites the submission of long and short papers on substantial, original, and unpublished research in all aspects of automated language processing and creation of  language resources. The short paper format may also be appropriate for a small, focused contribution, a work in progress, a negative result, an opinion piece or an interesting application nugget.</p>

<p>Topics of interest include, but are not limited to the study of the following language areas, tasks, genres and approaches to language analysis:</p>

<ul>
<li>Linguistic areas of study</li>
  <ul>
      <li>Discourse: anaphora resolution, discourse relation tagging, theories and systems for text organization evaluation, methods for analysis of dialog structure (spoken or written) and discourse semantics</li>
      <li>Morphology</li>
      <li>Phonology and phonetics</li>
      <li>Pragmatics</li>
      <li>Prosody</li>
      <li>Semantics: event, lexical, distributional, formal, extra-propositional, grounding and ontologies</li>
      <li>Tagging, chunking, syntax and parsing</li>
  </ul>
<li>Application tasks</li>
  <ul>
    <li>Dialogue and interactive systems, automatic speech recognition other spoken language processing</li>
    <li>Image/video description generation</li>
    <li>Language understanding, language generation, summarization, information extraction, question answering, information retrieval, machine translation, recognizing textual entailment and semantic equivalence, relation extraction, text simplification</li>
    <li>Mathematical models of language</li>
    <li>Predicting speaker/writer characteristics</li>
    <li>Sentiment analysis, text categorization (of words, sentences and longer texts), text quality prediction, style analysis and lexicon induction</li>
    <li>Spelling and grammar correction and computer-aided learning</li>
    <li>Tokenization/word segmentation for Chinese and similar languages and word segmentation in spoken utterances</li>
  </ul>
<li>Research Goals</li>
  <ul>
    <li>Cognitive modeling and psycholinguistic research</li>
    <li>Corpus creation and evaluation</li> 
    <li>End-user application building</li> 
    <li>Integrate language and other modalities</li>
    <li>Linguistic theories for NLP</li>
    <li>Machine learning for NLP</li>
    <li>Sociolinguistic research</li>
  </ul>
<li>Approaches to language processing tasks</li>
  <ul>
    <li>Machine learning: topic modeling, structured prediction, deep learning, bayesian models, kernel methods, generative models, discriminative models, semi-supervised learning, representation learning</li>
    <li>Optimization</li>
    <li>Exploiting multilingual resources</li>
    <li>Modeling linguistic knowledge (e.g., grammars)</li>
    <li>Algorithm development for NLP</li>
    <li>Corpus/data analysis</li>
  </ul>
<li>Genres</li>
  <ul>
    <li>Biological and medical text (BioNLP)</li>
    <li>Chat and Email (private unedited written dialog)</li>
    <li>Literature</li>
    <li>News</li>
    <li>Social media: twitter, blogs, discussion forums and other social media</li>
    <li>Spoken dialog and other spoken genres</li>
    <li>Search log analysis</li>
  </ul>
<li>Languages</li>
  <ul>
    <li>Low-Resource Languages</li>
    <li>Morphologically rich languages</li>
    <li>Other specific living language(s)</li>
  </ul>
</ul>

<h3>Important Dates</h3>
<ul>
  <li>Deadline for BOTH Long and Short paper submission: Jan 6, 2016</li>
  <li>Author response period: Feb 10–15, 2016</li>
  <li>Notification to authors: Mar 2, 2016</li>
</ul>
<p>All deadlines are 11:59PM Pacific Time. Please DO NOT submit the same paper in long and short paper form.</p>

<h3>Submissions</h3>
<b>Long Papers</b>
<p>NAACL HLT 2016 long paper submissions must describe substantial, original, completed and previously unpublished work. The long paper deadline is January 6, 2016 by 11:59PM Pacific Standard Time (GMT-8). Each submission will be reviewed by at least three program committee members.</p>
<p>Long papers may consist of up to eight (8) pages of content, plus unlimited pages for references. Upon acceptance, final versions of long papers will be given one additional page (up to 9 pages with unlimited pages for references) so that reviewers’ comments can be taken into account.</p>
<p>Papers will be presented orally or as a poster presentation as determined by the program committee. There will be no distinction in the proceedings between long papers presented orally and those presented as poster presentations.</p>
<b>Short Papers</b>
<p>NAACL HLT 2016 also solicits short papers. Short paper submissions must describe original, completed and previously unpublished work. The short paper deadline this year is also January 6, 2016 by 11:59PM Pacific Standard Time (GMT-8). Types of short papers include:</p>
<ul>
  <li>A small, focused contribution</li>
  <li>A negative result</li>
  <li>An opinion piece</li>
  <li>An interesting application nugget</li>
</ul>
<p>Short papers may consist of up to four (4) pages of content, plus unlimited pages for references. Upon acceptance, short papers will be given five (5) pages in the proceedings and unlimited pages for references. Authors are encouraged to use this additional page to address reviewers comments in their final versions.</p>
<p>Short papers will be presented in one or more oral or poster sessions. While short papers will be distinguished from long papers in the proceedings, there will be no distinction in the proceedings between short papers presented orally and those presented as poster presentations. Each short paper submission will be reviewed by at least three program committee members.</p>

<b>Electronic Submission</b>
<p>Papers should be submitted electronically using the Softconf START conference management system at the following URL:</p>
<p><a href="https://www.softconf.com/naacl2016/papers">https://www.softconf.com/naacl2016/papers</a></p>
<p>The site will be open for accepting submissions one month before the conference deadline.</p>

<b>Multiple Submission Policy</b>
<p>Papers that have been or will be submitted to other meetings or publications must indicate this at submission time. Authors of papers accepted for presentation at NAACL HLT 2016 must notify the program chairs by the camera-ready deadline as to whether the paper will be presented. All accepted papers must be presented at the conference to appear in the proceedings. We will not accept for publication or presentation papers that overlap significantly in content or results with papers that will be (or have been) published elsewhere.</p>

<p>Authors submitting more than one paper to NAACL HLT must ensure that submissions do not overlap significantly (>25%) with each other in content or results. Authors should not submit short and long versions of papers with substantial overlap in their original contributions.</p>
<b>What is Considered “Unpublished Work”?</b>
<p>All prior peer-reviewed publications, either at a conference or workshop, are considered published prior work. Preprints such as those on <a href="arxiv.org">arXiv.org</a> and technical reports that are not peer reviewed are not considered prior published work for purposes of submission. Authors must state in the online submission form the name of the workshop or preprint server and title of the non-archival version. The version submitted to NAACL HLT should be suitably anonymized and not contain references to the prior non-archival version. Reviewers will be told: “The author(s) have notified us that there exists a non-archival previous version of this paper with significantly overlapping text. We have approved submission under these circumstances, but to preserve the spirit of blind review, the current submission does not reference the non-archival version.” Reviewers are free to do what they like with this information.</p>

<h3>Contact</h3>
<p>
  <b>Program Co-Chairs</b>
  <ul>
    <li>Ani Nenkova, University of Pennsylvania</li>
    <li>Owen Rambow, Columbia University</li>
  </ul>
  Email: <a href="mailto:naacl2016-program@googlegroups.com">naacl2016-program@googlegroups.com</a>
</p>

<p>
  <b>General Chair</b>
  <ul>
    <li>Kevin Knight, USC Information Sciences Institute</li>
  </ul>
</p>

<p><b>Area Chairs</b>
<ul class="list-inline">
<li>Mohit Bansal</li>
<li>Regina Barzilay</li>
<li>Eduardo Blanco</li>
<li>Asli Celikyilmaz</li>
<li>Cristian Danescu-Niculescu-Mizil</li>
<li>Markus Dreyer</li>
<li>Chris Dyer</li>
<li>Jacob Eisenstein</li>
<li>Micha Elsner</li>
<li>Eric Fosler-Lussier</li> 
<li>Alexander Fraser</li>
<li>Michel Galley</li> 
<li>Kevin Gimpel</li>
<li>Dilek Hakkani-Tur</li>
<li>Helen Hastie</li>  
<li>Yulan He</li>
<li>Dirk Hovy</li>
<li>Heng Ji</li>
<li>Jing Jiang</li>
<li>Chin-Yew Lin</li>
<li>Annie Louis</li>
<li>Daniel Marcu</li>
<li>Margaret Mitchell</li>
<li>Alessandro Moschitti</li>
<li>Hwee Tou Ng</li>
<li>Viet-An Nguyen</li>
<li>Mari Ostendorf</li>
<li>Marius Pasca</li>
<li>Slav Petrov</li>
<li>Dan Roth</li>
<li>Alexander Rush</li>
<li>Kenji Sagae</li>
<li>Giorgio Satta</li>
<li>Hinrich Schuetze</li>
<li>William Schuler</li>
<li>Mihai Surdeanu</li>
<li>Kristina Toutanova</li>  
<li>Byron Wallace</li>
<li>Xiaojun Wan</li>
<li>Furu Wei</li>
<li>Dekai Wu</li>
<li>Fei Xia</li>
</ul>
</p>


</div>
      </div>
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
