---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Demonstrations - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="We invite papers describing system demonstrations to be displayed at NAACL HLT 2016. Submissions may range from early prototypes to mature production-ready systems." />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %}
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-9">
          <h2><span class="glyphicon glyphicon-play-circle"></span> <b>Demonstrations</b></h2>
          </p>
      <!-- Alerts -->
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-warning alert-dismissable" role="alert">
            Submission deadline for Demonstrations is today, Feb 12!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div> <!-- col-sm-12 -->
      </div> <!-- row -->

       <p>We invite papers describing system demonstrations at NAACL HLT.
Submissions may range from early prototypes to mature production-ready
systems.
Of particular interest are publicly available open-source or open-access systems.
All accepted demos are published in a companion volume of the
conference proceedings, and will be presented during a demo session at
	  NAACL with an accompanying poster.
  </p>

  <h3 id="submission">Format for Submission</h3>

  Submissions should include:</p>

  <ol>
    <li>A paper describing the motivation and technical details of the system,
     including visual aids (e.g., screenshots, snapshots, or diagrams).
  See examples of recent accepted demo papers in
  <a href="https://aclweb.org/anthology/P/P15/#4000">ACL 2015</a>,
  <a href="https://aclweb.org/anthology/N/N15/#3000">NAACL 2015</a>,
  <a href="https://aclweb.org/anthology/P/P14/#5000">ACL 2014</a>,
  <a href="https://aclweb.org/anthology/P/P13/#4000">ACL 2013</a>, and
  <a href="https://aclweb.org/anthology/N/N13/#3000">NAACL 2013</a>.

    <li><i>Optionally</i>, a short (~2 minute) screencast video demonstrating the
    system.
  This screencast will be used to evaluate the paper, but won't
    be published unless requested.

    <li><i>Optionally</i>, a link to a website that hosts or demonstrates your system.
  </ol>

  <p>Reviewing will <i>not</i> be double-blind,
    so you needn't anonymize your papers.
  </p>

  <p>The paper, PDF only, must not be more than four pages, with one optional
  extra page for references.
  Please use <a
  href="http://naacl.org/naacl-pubs">the main NAACL paper style</a> files.
Since you are not required to anonymize the paper, you can uncomment
the <tt>\naaclfinalcopy</tt> command from the LaTeX template.</p>

<p>

    <p>If you choose to submit a screencast, please upload the video to
    YouTube or another hosting site, and include the link in your softconf submission.
    (Contact the demo chairs for alternatives
    if you prefer not to upload your screencast video to the web.)
  Any additional links besides the screencast and website URLs should be included in the paper PDF.
</p>

<p>
  We will reject without review any papers that do not follow the official style guidelines and page limits.
  Papers must be submitted electronically by February 12, 2016
  to <a href="https://www.softconf.com/naacl2016/demos">https://www.softconf.com/naacl2016/demos</a>.</p>

  <h3 id="dates">Important Dates</h3>

  <p>All times are 11:59pm PST on the deadline day.</p>

  <table class="table table-striped table-condensed">

    <tr><td>Submission system opens</td>
        <td>January 12, 2016</td>
    </tr>

    <tr><td>Submission deadline</td>
        <td>February 12, 2016</td>
    </tr>
    <tr><td>Notification of acceptance</td>
        <td>March 18, 2016</td>
    </tr>
    <tr><td>Camera ready copies due</td>
        <td>April 1, 2016</td>
    </tr>
  </table>

<h3 id="areas">Areas of Interest</h3>

<p>Areas of interest may include, but are not limited to:</p>

<ul>
  <li>End-to-end systems
    <ul>
      <li>Information extraction and question answering </li>
      <li>Information access or dialogue </li>
      <li>Machine translation for consumer or industry applications</li>
      <li>Mobile applications</li>
      <li>NLP and speech technologies to support accessibility and assistive devices</li>
      <li>Technologies for the digital humanities</li>
      <li>Programs to automate linguistic analyses</a>
    </ul>
  </li>
  <li>Systems aiding research and development in NLP
    <ul>
      <li>Interfaces and resources to support linguistic annotation</li>
      <li>Software architectures and reusable components</li>
      <li>Software tools for evaluation or error analysis</li>
      <li>Research toolkits implementing new or existing techniques</li>
      <li>Tools for data visualization</li>
    </ul>
  </li>
  <li>Systems supporting learning or education
    <ul>
      <li>Visual interactive aids for students</li>
      <li>Tutorial agents to support real-time feedback for learning</li>
      <li>Instructional aids for topics in computational linguistics</li>
      <li>Systems to score or critique textual student responses</li>
      <li>Systems to mine textual or behavioral data for educational purposes</li>
    </ul>
  </li>
</ul>

<p>Papers will be evaluated on the basis of their relevance to
computational linguistics, innovation, and scientific contribution.
Accepted submissions will be published in the
Companion Volume to the Proceedings of the Conference.
As such, papers
will also be evaluated on writing style and clarity of
presentation.</p>

<p> Further details on the date, time, and format of the demonstration
session(s) during NAACL will be determined soon.</p>

<h3 id="contact">Contact</h3>


<p>Please send any inquiries to the demonstration co-chairs at  <a
          href="mailto:naacl2016-demos@cs.fiu.edu">naacl2016-demos@cs.fiu.edu</a>.</p>

<ul>
  <li>John DeNero, University of California Berkeley</li>
  <li>Mark Finlayson, Florida International University</li>
  <li>Sravana Reddy, Wellesley College</li>
</ul>

<h3 id="program-committee">Program Committee</h3>

<ul>
  <li>Željko	Agić, University of Copenhagen</li>
  <li>Omar Alonso, Microsoft Research</li>
  <li>Tyler Baldwin, IBM Research</li>
  <li>Keith Carlson, Dartmouth College</li>
  <li>Jinho Choi, Emory University </li>
  <li>Montse Cuadros Oller, Vicomtech-IK4</li>
  <li>Thierry Declerck, German Research Center for Artificial Intelligence (DFK)</li>
  <li>Karthik Dinakar, MIT Media Lab </li>
  <li>Catherine	Havasi, Luminoso</li>
  <li>Brigitte Krenn, Austrian Research Institute for Artificial Intelligence (OFAI)</li>
  <li>Finley Lacatusu, Language Computer Corporation</li>
  <li>Changsong	Liu, Michigan State University</li>
  <li>Marie-Jean Meurs, University of Quebec in Montreal</li>
  <li>Eni Mustafaraj, Wellesley College</li>
  <li>Tsuyoshi Okita, Dublin City University</li>
  <li>Petya Osenova, Sofia University</li>
  <li>Arzucan Özgür, Bogazici University</li>
  <li>Stelios Piperidis, Institute for Language and Speech Processing</li>
    <li>Matt Post, Johns Hopkins University</li>
<li>Kirk Roberts, University of Texas at Dallas</li>
<li>Masoud Rouhizadeh, Oregon Health and Science University</li>
      <li>Ivan Vladimir Meza Ruiz, National Autonomous University of Mexico</li>
      <li>Irene Russo, Italian National Research Council</li>
      <li>Sebastian Sulger, University of Konstanz</li>
      <li>Le Sun, Chinese Academy of Sciences</li>
      <li>Maarten van Gompel, Radboud University Nijmegen</li>
      <li>Marc Vilain, MITRE</li>
      <li>Xuchen Yao, kitt.ai</li>
      <li>Liang-Chih Yu, Yuan Ze University</li>
</ul>

        </div>  <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
