---
---
<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container">
      <p>The NAACL HLT 2016 conference is organized by the committees listed below.</p>
      <h2><span class="glyphicon glyphicon-user"></span> Conference Organization</h2>
      <div class="row">
        <div class="col-md-9">

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>General Chair</strong></div>
            </div>
            <div class="panel-body">
              <p>Kevin Knight</p>
              <p><em>USC Information Sciences Institute</em></p>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Program Co-Chairs</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <p>Ani Nenkova</p>
                  <p><em>University of Pennsylvania</em></p>
                </div>
                <div class="col-sm-6">
                  <p>Owen Rambow</p>
                  <p><em>Columbia University</em></p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Workshop Co-Chairs</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <p>Radu Soricut</p>
                  <p><em>Google</em></p>
                </div>
                <div class="col-sm-6">
                  <p>Adrià de Gispert</p>
                  <p><em>SDL</em></p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Local Sponsorship Chair</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <p>Julie Medero</p>
                  <p><em>Harvey Mudd College</em></p>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- end col-md-6 -->
        <div class="col-md-6">

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Tutorial Co-Chairs</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <p>Mohit Bansal</p>
                  <p><em>TTI Chicago</em></p>
                </div>
                <div class="col-sm-6">
                  <p>Alexander M. Rush</p>
                  <p><em>Harvard University</em></p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Demonstration Co-Chairs</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <p>Mark Finlayson</p>
                  <p><em>Florida International University</em></p>
                </div>
                <div class="col-sm-4">
                  <p>Sravana Reddy</p>
                  <p><em>Wellesley College</em></p>
                </div>
                <div class="col-sm-4">
                  <p>John DeNero</p>
                  <p><em>University of California, Berkeley</em></p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Publications Co-Chairs</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                  <p>Adam Lopez</p>
                  <p><em>University of Edinburgh</em></p>
                </div>
                <div class="col-sm-6">
                  <p>Margaret Mitchell</p>
                  <p><em>Microsoft Research</em></p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Local Arrangements Chair</strong></div>
            </div>
            <div class="panel-body">
              <p>Priscilla Rasmussen</p>
            </div>
          </div>

        </div> <!-- end .col-md-6 -->
      </div> <!-- end .row -->
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Student Volunteer Coordinator</strong></div>
            </div>
            <div class="panel-body">
              <p>Aliya Deri</p>
              <p><em>USC Information Sciences Institute</em></p>
            </div>
          </div>

        </div>
        <div class="col-md-7">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Student Research Workshop Co-Chairs</strong></div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <p>Jacob Andreas</p>
                  <p><em>University of California, Berkeley</em></p>
                </div>
                <div class="col-sm-4">
                  <p>Eunsol Choi</p>
                  <p><em>University of Washington</em></p>
                </div>
                <div class="col-sm-4">
                  <p>Angeliki Lazaridou</p>
                  <p><em>University of Trento</em></p>
                </div>
              </div>
              <span class="text-primary"><strong>Faculty Advisors</strong></span>
              <div class="row">
                <div class="col-sm-6">
                  <p>Jacob Eisenstein</p>
                  <p><em>Georgia Tech</em></p>
                </div>
                <div class="col-sm-6">
                  <p>Nianwen Xue</p>
                  <p><em>Brandeis University</em></p>
                </div>
              </div>
            </div>
          </div> <!-- end panel -->
        </div> <!-- end .col-md-7 -->
      </div> <!-- end .row -->
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Website Chair</strong></div>
            </div>
            <div class="panel-body">
              <p>Jason Riesa</p>
              <p><em>Google</em></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Publicity Chair</strong></div>
            </div>
            <div class="panel-body">
              <p>Wei Xu</p>
              <p><em>University of Pennsylvania</em></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title"><strong>Social Media Chair</strong></div>
            </div>
            <div class="panel-body">
              <p>Jonathan May</p>
              <p><em>USC Information Sciences Institute</em></p>
            </div>
          </div>
        </div>

       </div>  <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end conainer -->
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
