---
---
<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Information for Presenters - NAACL HLT 2016 | San Diego, CA</title>
   <meta name="description" content="NAACL 2016 Information for Presenters: Talk length for long papers is 20min; talk length for short papers is 10 minutes; poster dimensions: 233cm x 116cm" />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>

        <div class="col-md-8">
          <h2><span class="glyphicon glyphicon-info-sign"></span> <b>Information for Presenters</b></h2>
          <br>
          <p><b>Talk length for long papers:</b> 20 minutes (15 minutes talk + 5 minutes for questions)</p> 
          <p><b>Talk length for short papers:</b> 10 minutes (6 minutes talk + 4 minutes for questions)</p> 
          <p><b>Poster Size:</b> Poster boards for the poster session will be 8' wide (92 inches/233 cm) and 4' high (46 inches/116 cm). Presenters can print their poster in any size or orientation that fits this board.</p>
          <p><a href="images/naacl-poster-diagram.pdf"><i class="fa fa-file-pdf-o"></i> Poster Diagram</a>
        </div>  <!-- col-md-8 -->
      </div>  <!-- row -->
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
