---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Accepted Papers - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Accepted papers for the main conference, long papers, short papers, talks and posters." />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %}
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div> <!-- navbutton -->
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-10 program">
          <h2><span class="glyphicon glyphicon-th-large"></span> <b>Program</b></h2>
          <br>
          <!-- Schedule contents here -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-day">
                <div class="panel-heading">
                  <h2>Monday</h2>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Welcome</h4>
                  <h4>9:00 AM &ndash; 9:15 AM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>Invited Talk: Regina Barzilay</h4>
                  <h4>9:15 AM &ndash; 10:30 AM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>10:30 AM &ndash; 11:00 AM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1a">Machine Translation I</a></b>
                    </p>
                    <p>11:00 AM &ndash; 12:30 PM</p>
                  </h4>
                </div>
                <div id="session1a" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                    <p>
                      <span class="paper-title">Achieving Accurate Conclusions in Evaluation of Automatic Machine Translation Metrics</span>
                      <span class="paper-authors">Yvette Graham and Qun Liu</span>
                    </p>
                    <p>
                      <span class="paper-title">Flexible Non-Terminals for Dependency Tree-to-Tree Reordering</li></span>
                      <span class="paper-authors">John Richardson, Fabien Cromieres, Toshiaki Nakazawa and Sadao Kurohashi</span>
                    </p>
                    <p>
                      <span class="paper-title">Selecting Syntactic, Non-redundant Segments in Active Learning for Machine Translation</span>
                      <span class="paper-authors">Akiva Miura, Graham Neubig, Michael Paul and Satoshi Nakamura</span>
                    </p>
                    <p>
                      <span class="paper-title">Multi-Source Neural Translation</span>
                      <span class="paper-authors">Barret Zoph and Kevin Knight</span>
                    </p>
                    <p>
                      <span class="paper-title">Controlling Politeness in Neural Machine Translation via Side Constraints</span>
                      <span class="paper-authors">Rico Sennrich, Barry Haddow and Alexandra Birch</span>
                    </p>
                    <p>
                      <span class="paper-title">An Empirical Evaluation of Noise Contrastive Estimation for the Neural Network Joint Model of Translation</span>
                      <span class="paper-authors">Colin Cherry</span>
                    </p>
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1b">Summarization</a></b>
                    </p>
                    <p>11:00 AM &ndash; 12:30 PM</p>
                  </h4>
                </div>
                <div id="session1b" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                    <p>
                      <span class="paper-title">Neural Network-Based Abstract Generation for Opinions and Arguments</span>
                      <span class="paper-authors">Lu Wang and Wang Ling</span>
                    </p>
                    <p>
                      <span class="paper-title">A Low-Rank Approximation Approach to Learning Joint Embeddings of News Stories and Images for Timeline Summarization</span>
                      <span class="paper-authors">William Yang Wang, Yashar Mehdad, Dragomir Radev and Amanda Stent</span>
                    </p>
                    <p>
                      <span class="paper-title">Entity-balanced Gaussian pLSA for Automated Comparison</span>
                      <span class="paper-authors">Danish Contractor, Parag Singla and Mausam</span>
                    </p>
                    <p>
                      <span class="paper-title">Automatic Summarization of Student Course Feedback</span>
                      <span class="paper-authors">Wencan Luo, Fei Liu, Zitao Liu and Diane Litman</span>
                    </p>
                    <p>
                      <span class="paper-title">Abstractive Sentence Summarization with Attentive Recurrent Neural Networks</span>
                      <span class="paper-authors">Sumit Chopra, Michael Auli and Alexander M. Rush</span>
                    </p>
                    <p>
                      <span class="paper-title">Knowledge-Guided Linguistic Rewrites for Inference Rule Verification</span>
                      <span class="paper-authors">Prachi Jain and Mausam</span>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1c">Dialog</a></b>
                    </p>
                    <p>11:00 AM &ndash; 12:30 PM</p>
                  </h4>
                </div>
                <div id="session1c" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Lunch</h4>
                  <h4>12:30 PM &ndash; 2:00 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->

          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2a">Language and Vision</a></b>
                    </p>
                    <p>2:00 PM &ndash; 3:30 PM</p>
                  </h4>
                </div>
                <div id="session2a" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div> <!-- panel -->
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2b">Parsing</a></b>
                    </p>
                    <p>2:00 PM &ndash; 3:30 PM</p>
                  </h4>
                </div>
                <div id="session2b" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div> <!-- panel -->
            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2c">Named Entity Recognition</a></b>
                    </p>
                    <p>2:00 PM &ndash; 3:30 PM</p>
                  </h4>
                </div>
                <div id="session2c" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div> <!-- panel -->
            </div>
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session3a">Event Detection</a></b>
                    </p>
                    <p>3:30 PM &ndash; 4:30 PM</p>
                  </h4>
                </div>
                <div id="session3a" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div> <!-- panel -->
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session3b">Language Models</a></b>
                    </p>
                    <p>3:30 PM &ndash; 4:30 PM</p>
                  </h4>
                </div>
                <div id="session3b" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div> <!-- panel -->
            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session3c">Nonliteral Language</a></b>
                    </p>
                    <p>3:30 PM &ndash; 4:30 PM</p>
                  </h4>
                </div>
                <div id="session3c" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div> <!-- panel -->
            </div>
          </div> <!-- row -->

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>4:30 PM &ndash; 5:00 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>One-Minute Madness</h4>
                  <h4>5:00 PM &ndash; 5:45 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>Posters &amp; Dinner</h4>
                  <h4>5:45 PM &ndash; 7:45 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-day">
                <div class="panel-heading">
                  <h2>Tuesday</h2>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1at">Semantic Parsing</a></b>
                    </p>
                    <p>9:00 AM &ndash; 10:30 AM</p>
                  </h4>
                </div>
                <div id="session1at" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1bt">Morphology &amp; Phonology</a></b>
                    </p>
                    <p>9:00 AM &ndash; 10:30 AM</p>
                  </h4>
                </div>
                <div id="session1bt" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1ct">Various</a></b>
                    </p>
                    <p>9:00 AM &ndash; 10:30 AM</p>
                  </h4>
                </div>
                <div id="session1ct" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>10:30 AM &ndash; 11:00 AM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2at">Generation</a></b>
                    </p>
                    <p>11:00 AM &ndash; 12:30 PM</p>
                  </h4>
                </div>
                <div id="session2at" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2bt">Sentiment</a></b>
                    </p>
                    <p>11:00 AM &ndash; 12:30 PM</p>
                  </h4>
                </div>
                <div id="session2bt" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2ct">Knowledge Acquisition</a></b>
                    </p>
                    <p>11:00 AM &ndash; 12:30 PM</p>
                  </h4>
                </div>
                <div id="session2ct" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Lunch</h4>
                  <h4>12:30 PM &ndash; 1:30 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>Panel Discussion</h4>
                  <h4>1:30 PM &ndash; 2:30 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session3at">Machine Translation II</a></b>
                    </p>
                    <p>2:30 PM &ndash; 3:30 PM</p>
                  </h4>
                </div>
                <div id="session3at" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session3bt">Relation Extraction</a></b>
                    </p>
                    <p>2:30 PM &ndash; 3:30 PM</p>
                  </h4>
                </div>
                <div id="session3bt" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session3ct">Semantic Similarity</a></b>
                    </p>
                    <p>3:30 PM &ndash; 3:30 PM</p>
                  </h4>
                </div>
                <div id="session3ct" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->


          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>3:30 PM &ndash; 4:00 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session4at">Machine Translation III</a></b>
                    </p>
                    <p>4:00 PM &ndash; 5:00 PM</p>
                  </h4>
                </div>
                <div id="session4at" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session4bt">Anaphora Resolution</a></b>
                    </p>
                    <p>4:00 PM &ndash; 5:00 PM</p>
                  </h4>
                </div>
                <div id="session4bt" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session4ct">Word Embeddings I</a></b>
                    </p>
                    <p>4:00 PM &ndash; 5:00 PM</p>
                  </h4>
                </div>
                <div id="session4ct" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>5:00 PM &ndash; 5:15 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>One-Minute Madness</h4>
                  <h4>5:15 PM &ndash; 6:00 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>Posters &amp; Dinner</h4>
                  <h4>6:00 PM &ndash; 8:00 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-day">
                <div class="panel-heading">
                  <h2>Wednesday</h2>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>Invited Talk: Ehud Reiter</h4>
                  <h4>9:00 AM &ndash; 10:15 AM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>10:15 AM &ndash; 10:45 AM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1aw">Question Answering</a></b>
                    </p>
                    <p>10:45 AM &ndash; 12:15 PM</p>
                  </h4>
                </div>
                <div id="session1aw" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1bw">Multilingual Processing</a></b>
                    </p>
                    <p>10:45 AM &ndash; 12:15 PM</p>
                  </h4>
                </div>
                <div id="session1bw" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session1cw">Word Embeddings II</a></b>
                    </p>
                    <p>10:45 AM &ndash; 12:15 PM</p>
                  </h4>
                </div>
                <div id="session1cw" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->

          <div class="row min-gutter">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Lunch</h4>
                  <h4>12:15 PM &ndash; 1:15 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>NAACL Business Meeting</h4>
                  <h4>1:15 PM &ndash; 2:15 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row min-gutter">
            <div class="col-md-4">
              <div class="panel panel-session-a">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2aw">Argumentation &amp; Discourse Relations</a></b>
                    </p>
                    <p>2:15 PM &ndash; 3:45 PM</p>
                  </h4>
                </div>
                <div id="session2aw" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div> <!-- col-md-4 -->
            <div class="col-md-4">
              <div class="panel panel-session-b">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2bw">Misc Semantics</a></b>
                    </p>
                    <p>2:15 PM &ndash; 3:45 PM</p>
                  </h4>
                </div>
                <div id="session2bw" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-session-c">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p>
                      <b><a data-toggle="collapse" href="#session2cw">Text Categorization</a></b>
                    </p>
                    <p>2:15 PM &ndash; 3:45 PM</p>
                  </h4>
                </div>
                <div id="session2cw" class="panel-collapse collapse">
                  <div class="panel-body session-content">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-accent">
                <div class="panel-heading">
                  <h4>Break</h4>
                  <h4>3:45 PM &ndash; 4:15 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-plenary">
                <div class="panel-heading">
                  <h4>Best Papers Presentation</h4>
                  <h4>4:15 PM &ndash; 5:45 PM</h4>
                </div>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->

        </div> <!-- col-md-10 -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->

    {% include footer.html %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
