---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Conference Program - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Program for the main conference: talks, demos, and posters." />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %}
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
        </div> <!-- navbutton -->
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">
      <div class="row">
        <!-- No side nav on Desktop to give more room to Program content
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        -->
        <div class="col-md-12 program">
          <h2><span class="glyphicon glyphicon-th-large"></span> <b>Program</b></h2>
          <br>
          {% include program-module.html %}
        </div> <!-- col-md-12 -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->

    {% include footer.html %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
