---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Registration - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Conference registration dates and pricing" />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %} 
    <div class="container">
    </div> <!-- container -->

    <div class="jumbotron" id="header">
      <div class="container">
            <div class="navbutton">
        <!-- class="navbar navbar-default navbar-fixed-left">  -->
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-8">
          <h2><i class="fa fa-pencil-square-o"></i> <b>Registration</b></h2><br>
          <div class="alert alert-info" role="alert">
            Online registration has closed. On-site registration begins June 12.
          </div>

          <div class="row">
            <div class="col-md-5">
               <a href="https://naacl2016.agora-net.com/">
                 <button type="button" class="btn btn-primary btn-lg btn-block" id="registration-button">
                   Register for NAACL HLT 2016
                 </button>
               </a>
            </div>
            <div class="col-md-7">
                <ul class="list-unstyled">
                  <li style="text-decoration: line-through;"><b>Early Registration:</b> Through May 15, 2016 11:59PM EDT</li>
                  <li style="text-decoration: line-through;"><b>Late Registration:</b> May 16, 2016 to June 4, 2016 6:00PM EDT</li>
                  <li><b>On-site Registration:</b> Begins June 12, 2016</li>
                </ul>
            </div> <!-- col-md-6 -->
          </div> <!-- row -->
          <div class="row">
            <div class="col-md-10">
              <p>Online registration is open through June 3. Registration prices increase starting May 16.
              After June 3, you may register on-site at the conference venue starting June 12.</p>
              <p>Your registration includes access to the <b><a href="social_event.html">conference social event</a></b>
              , an evening beach party to take place Tuesday June 14, following the poster session.</p>
              <p>During the registration process you will also have the opportunity to reserve a spot on
              our optional <b>offsite excursion</b>, a trip to the <em>Marine Corps Air Station Miramar</em>.
              This trip includes luxury motor coach transportation, guided officers tour of flight deck
              and airplanes, and Officers' Club dinner with open beer/wine bar.</p>
              <p>Use the registration button above, or follow this link:
              <a href="https://aclweb.org/conference/naacl-2016-conference-registration/">
              https://aclweb.org/conference/naacl-2016-conference-registration/
              </a>
              </p>
            </div>
          </div>
<p><h4><b>2016 Main Conference Fee Schedule</b></h4></p>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th> </th>
      <th class="text-center">Early</th>
      <th class="text-center">Late</th>
      <th class="text-center">Onsite</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Regular</td>
      <td class="text-center">$595.00</td>
      <td class="text-center">$690.00</td>
      <td class="text-center">$770.00</td>
    </tr>
    <tr>
      <td>Student</td>
      <td class="text-center">$295.00</td>
      <td class="text-center">$370.00</td>
      <td class="text-center">$420.00</td>
    </tr>
    <tr>
      <td>SRW Students</td>
      <td class="text-center">$0.00</td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
    </tr>
    <tr>
      <td>Staff/Volunteers</td>
      <td class="text-center">$0.00</td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
    </tr>
    <tr>
      <td>Invited Speakers</td>
      <td class="text-center">$0.00</td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
    </tr>
    <tr>
      <td>Guests/Sponsors</td>
      <td class="text-center">$0.00</td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
    </tr>
  </tbody>
</table>

<p><h4><b>2016 Tutorials &amp; Workshops Fee Schedule</b></h4></p>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th> </th>
      <th class="text-center">Regular</th>
      <th class="text-center">Regular</th>
      <th class="text-center">Student</th>
      <th class="text-center">Student</th>
    </tr>
    <tr>
      <th> </th>
      <th class="text-center">Early</th>
      <th class="text-center">Late/Onsite</th>
      <th class="text-center">Early</th>
      <th class="text-center">Late/Onsite</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tutorial</td>
      <td class="text-center">$195.00</td>
      <td class="text-center">$225.00</td>
      <td class="text-center">$125.00</td>
      <td class="text-center">$145.00</td>
    </tr>
    <tr>
      <td class="indent"><em>without main conference</em></td>
      <td class="text-center">$220.00</td>
      <td class="text-center">$245.00</td>
      <td class="text-center">$145.00</td>
      <td class="text-center">$165.00</td>
    </tr>
    <tr>
      <td>2-Day Workshop (SemEval)</td>
      <td class="text-center">$260.00</td>
      <td class="text-center">$310.00</td>
      <td class="text-center">$200.00</td>
      <td class="text-center">$240.00</td>
    </tr>
    <tr>
      <td class="indent"><em>without main conference</em></td>
      <td class="text-center">$400.00</td>
      <td class="text-center">$440.00</td>
      <td class="text-center">$240.00</td>
      <td class="text-center">$310.00</td>
    </tr>
    <tr>
      <td>1-Day Workshop</td>
      <td class="text-center">$145.00</td>
      <td class="text-center">$195.00</td>
      <td class="text-center">$120.00</td>
      <td class="text-center">$155.00</td>
    </tr>
    <tr>
      <td class="indent"><em>without main conference</em></td>
      <td class="text-center">$240.00</td>
      <td class="text-center">$265.00</td>
      <td class="text-center">$170.00</td>
      <td class="text-center">$195.00</td>
    </tr>
  </tbody>
</table>

          <p><h4><b>Cancellation Policy</b></h4></p>
          <ul>
            <li>Cancellations received one month or more prior to the conference will
            receive full refund.</li>
            <li>Cancellations received up to three weeks prior to the conference will
            receive the ACL membership (if paid as part of the registration) and
            reimbursement of all amounts paid above the first $200.</li>
            <li>Cancellations received within three weeks prior to the conference and all
            no-shows will not receive reimbursements but will receive the current full
            year ACL membership (if paid as part of the registration).</li>
            <li>Cancellations due to governmental travel restrictions or failure to obtain a
            visa or serious illness that prevents travel to attend the Conference will
            receive a full refund regardless of when notification is received by the ACL
            Office.</li>
          </ul>
        </div> <!-- col-md-7 -->
        <div class="col-md-3" id="sidebar">
        </div> <!-- col-md-3 #sidebar -->
      </div> <!-- row -->

    </div> <!-- container -->

    <!-- put new container content here -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
