---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Sponsors - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Conference sponsors and sponsorship information" />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %} 
    <div class="container">
    </div> <!-- container -->

    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-10">
          <h2><i class="fa fa-star"></i> <b>Sponsors</b></h2>
          <h4>NAACL HLT 2016 very gratefully recognizes the following commitments in sponsorship:</h4>
          <div class="row">
            <div class="col-md-8">
              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h1 class="panel-title">
                    <span class="label label-default" id="label-platinum">Platinum</span>
                  </h1>
                </div> <!-- panel-heading -->
                <div class="panel-body">
                  <div class="row wide-gutter">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://research.google.com">
                        <img src="images/google-2016.png" alt="Google" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                    <div class="col-md-6 sponsor-col-2">
                      <a href="http://www.baidu.com">
                        <img src="images/baidu-logo.jpg" alt="Baidu" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-gold">Gold</span>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="row wide-gutter">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://www.techatbloomberg.com">
                        <img src="images/bloomberg-logo-may-2014.jpg" alt="Bloomberg" class="sponsor-logo">
                      </a>
                      <a href="http://www.amazon.com">
                        <img src="images/amazon-logo.png" alt="Amazon" class="sponsor-logo">
                      </a>
                      <a href="https://www.microsoft.com">
                        <img src="images/microsoft-logo.png" alt="Microsoft" class="sponsor-logo">
                      </a>
                      <a href="http://www.maluuba.com/">
                        <img src="images/maluuba-logo.png" alt="Maluuba" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                    <div class="col-md-6 sponsor-col-2">
                      <a href="http://www.ebay.com">
                        <img src="images/ebay-logo-2016.png" alt="Ebay" class="sponsor-logo">
                      </a>
                      <a href="http://www.optum360.com/">
                        <img src="images/optum-logo.png" alt="Optum 360" class="sponsor-logo">
                      </a>
                      <a href="https://www.ibm.com">
                        <img src="images/ibm-logo.png" alt="IBM TJ Watson Research Center" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-silver">Silver</span>
                    </h3>
                </div>
                <div class="panel-body">
                  <div class="row wide-gutter">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://www.noahlab.com.hk/">
                        <img src="images/huawei-logo.png" alt="Huawei" class="sponsor-logo" id="huawei-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-bronze">Bronze</span>
                    </h3>
                </div>
                <div class="panel-body">
                  <div class="row wide-gutter">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://www.facebook.com">
                        <img src="images/fblogo-March2015.jpg" alt="Facebook" class="sponsor-logo">
                      </a>
                      <a href="http://newsela.com">
                        <img src="images/newsela-logo.png" alt="Newsela" class="sponsor-logo">
                      </a>
                      <a href="https://www.grammarly.com/1">
                        <img src="images/grammarly-logo.png" alt="Grammarly" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                    <div class="col-md-6 sponsor-col-2">
                      <a href="http://www.nuance.com">
                        <img src="images/nuance-logo.jpg" alt="Nuance" class="sponsor-logo" id="nuance-logo">
                      </a>
                      <a href="http://civisanalytics.com">
                        <img src="images/civis-logo.png" alt="Civis Analytics" class="sponsor-logo">
                      </a>
                      <a href="http://www.voicebox.com">
                        <img src="images/voicebox-logo.png" alt="Voicebox" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-supporter">Supporter</span>
                    </h3>
                </div>
                <div class="panel-body">
                  <div class="row wide-gutter">
                    <div class="col-md-6">
                      <a href="http://www.compling.uw.edu/?utm_source=naacl&utm_medium=banner&utm_content=3496_544_clms&utm_campaign=naacl%20display%20clms%20jun">
                        <img src="images/uw-logo-left.jpg" alt="University of Washington" class="sponsor-logo-2col">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

            </div> <!-- col-md-8 -->
            <div class="col-md-4" id="sidebar">
              <blockquote id="sponsorship-booklet">
                <p>For sponsorship details, please download the 2016 Sponsorship Booklet or send email to:
                <a href="mailto:sponsoring@aclweb.org">sponsoring@aclweb.org</a></p>
                <p>
                  <a href="http://naacl.org/naacl-hlt-2016/sponsorship-january-2016.doc">
                    <button type="button" class="btn btn-primary">
                      2016 Sponsorship Booklet
                    </button>
                  </a>
                </p>
              </blockquote>
            </div> <!-- col-md-4 #sidebar -->
          </div> <!-- row -->
        </div> <!-- col-md-10 -->
      </div> <!-- row -->
    </div> <!-- container -->

    <!-- put new container content here -->
    {% include footer.html %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
