---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Sponsors - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Conference sponsors and sponsorship information" />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %} 
    <div class="container">
    </div> <!-- container -->

    <div class="jumbotron" id="header">
      <div class="container">
            <div class="navbutton">
        <!-- class="navbar navbar-default navbar-fixed-left">  -->
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-10">
          <h2><i class="fa fa-star"></i> <b>Sponsors</b></h2>
          <p>NAACL HLT 2016 very gratefully recognizes the following commitments in sponsorship:</p>
          <div class="row">
            <div class="col-md-8">
              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h1 class="panel-title">
                    <span class="label label-default" id="label-platinum">Platinum</span>
                  </h1>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://research.google.com">
                        <img src="images/google-2016.png" alt="Google" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                    <div class="col-md-6 text-right">
                      <a href="http://www.baidu.com">
                        <img src="images/baidu-logo.jpg" alt="Baidu" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-gold">Gold</span>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://www.techatbloomberg.com">
                        <img src="images/bloomberg-logo-may-2014.jpg" alt="Bloomberg" class="sponsor-logo">
                      </a>
                    </div> <!-- col-md-6 -->
                    <div class="col-md-6 text-right">
                      <img src="images/ebay-logo-2016.png" alt="Ebay" class="sponsor-logo">
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-bronze">Bronze</span>
                    </h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 sponsor-col-1">
                      <img src="images/fblogo-March2015.jpg" alt="Facebook" class="sponsor-logo">
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->

              <div class="panel panel-default sponsor">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <span class="label label-default" id="label-supporter">Supporter</span>
                    </h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 sponsor-col-1">
                      <a href="http://www.compling.uw.edu/?utm_source=naacl&utm_medium=banner&utm_content=3496_544_clms&utm_campaign=naacl%20display%20clms%20jun">
                        <img src="images/uw-logo-left.jpg" alt="University of Washington" class="sponsor-logo-2col">
                      </a>
                    </div> <!-- col-md-6 -->
                  </div> <!-- row -->
                </div> <!-- panel-body -->
              </div> <!-- panel -->


            </div> <!-- col-md-8 -->
            <div class="col-md-4" id="sidebar">
              <blockquote id="sponsorship-booklet">
                <p>For sponsorship details, please download the 2016 Sponsorship Booklet or send email to:
                <a href="mailto:sponsoring@aclweb.org">sponsoring@aclweb.org</a></p>
                <p>
                  <a href="http://naacl.org/naacl-hlt-2016/sponsorship-january-2016.doc">
                    <button type="button" class="btn btn-primary">
                      2016 Sponsorship Booklet
                    </button>
                  </a>
                </p>
              </blockquote>
            </div> <!-- col-md-4 #sidebar -->
          </div> <!-- row -->
        </div> <!-- col-md-10 -->
      </div> <!-- row -->
    </div> <!-- container -->

    <!-- put new container content here -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
