---

---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Tutorials - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="Tutorials in all areas of computational linguistics, broadly conceived to include disciplines such as linguistics, speech, information retrieval and multimodal processing." />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-9">
          <h2><span class="glyphicon glyphicon-blackboard"></span> <b>NAACL HLT 2016 Tutorials</b></h2>
          <h4>
            <a href="tutorials.html">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="tutorials.html">Back to Tutorials listing</a>
          </h4>
          <div id="tutorials-list">
            <div class="panel panel-info">
              <div class="panel-heading tutorials-heading">
                <div class="panel-title">
                  <a href="t6.html"><span class="label label-primary tutorial-label">T6</span></a>
                  <a href="t6.html"><span class="tutorial-title">
                  Statistical Machine Translation between Related Languages
                  </span></a>
                </div>
              </div>
              <div class="panel-body">
              <p><b>Instructors:</b> Pushpak Bhattacharyya, Mitesh Khapra, and Anoop Kunchukuttan</p>
              <p><b>Prerequisites:</b> Basic knowledge of statistical machine translation</p>
              <p><b>Abstract:</b></p>

<p>Language-independent Statistical Machine Translation (SMT) has proven to be very challenging. The diversity of languages makes high accuracy difficult and requires substantial  parallel corpus as well as linguistic resources (parsers, morph analyzers, etc.). An interesting observation is that a large chunk of machine translation (MT) requirements involve related languages. They are either : (i) between related languages, or (ii) between a lingua franca (like English) and a set of related languages. For instance, India, the European Union and South-East Asia have such translation requirements due to government, business and socio-cultural communication needs.</p>

<p>Related languages share a lot of linguistic features and the divergences among them are at a lower level of the NLP pipeline. The objective of the tutorial is to discuss how the relatedness among languages can be leveraged to bridge this language divergence thereby achieving some/all of these goals: (i) improving translation quality, (ii) achieving better generalization, (iii) sharing linguistic resources, and (iv) reducing resource requirements.</p>

<p>We will look at the existing research in SMT from the perspective of related languages, with the goal to build a toolbox of methods that are useful for translation between related languages.  This tutorial would be relevant to Machine Translation researchers and developers, especially those interested in translation between low-resource languages which have resource-rich related languages. It will also be relevant for researchers interested in multilingual computation.</p>

<p>We start with a motivation for looking at the SMT problem from the perspective of related languages. We introduce notions of language relatedness useful for MT. We explore how lexical, morphological and syntactic similarity among related languages can help MT.  Lexical similarity will receive special attention since related languages share a significant vocabulary in terms of cognates, loanwords, etc.</p>

<p>Then, we look beyond bilingual MT and present how pivot-based and multi-source methods incorporate knowledge from multiple languages, and handle language pairs lacking parallel corpora. We present some studies concerning the implications of languages relatedness to pivot-based SMT, and ways of handling language divergence in the pivot-based SMT scenario. Recent advances in deep learning have made it possible to train multi-language neural MT systems, which we think would be relevant to training between related languages.</p>

<p>We will summarize the tutorial by pointing out how the toolbox  addresses the following goals we set out: (i) improving translation quality, (ii) achieving better generalization, (iii) sharing linguistic resources, and (iv) reducing resource requirements. We will conclude by emphasizing how the toolbox can be used to design translation system architectures customized to a set of related languages.</p>

<p>Time permitting, we will briefly describe a toolkit for Indian language NLP, which can be used to leverage similarities between Indian languages (<a href="http://anoopkunchukuttan.github.io/indic_nlp_library">http://anoopkunchukuttan.github.io/indic_nlp_library</a>).</p>

    <p><b>Outline:</b></p>
<ul>
  <li>Introduction</li>
  <li>Motivation</li>
  <li>Important questions</li>
  <li>Useful notions of language relatedness</li>
  <li>Leveraging lexical similarity for translation:</li>
  <li>Phonetic and Orthographic Similarity </li>
  <li>Transliteration & Cognate Mining </li>
  <li>Integrating transliteration & translation in decoder </li>
  <li>Transliteration of OOV words </li>
  <li>Translation using Transliteration (character-level translation) </li>
  <li>Neural character-level translation</li>
  <li>Leveraging morphological and syntactic similarity for translation: </li>
  <li>Morphological Isomorphism</li>
  <li>Common source reordering solution for a set of related languages</li>
  <li>Synergy among languages:</li>
  <li>Pivot-based Methods</li>
  <li>Combining pivot-based and character-level SMT </li>
  <li>Multi-source translation</li>
  <li>Multi-lingual word alignment</li>
  <li>Multilingual translation with Neural MT</li>
</ul>

<p><b>About the Instructors:</b></p>
<ul>
<li><p>Dr. Pushpak Bhattacharyya</p>
<ul class="list-unstyled">
  <li>Professor,  Dept. of Computer Science & Engineering, Indian Institute of Technology Bombay</li>
  <li>Mumbai, India.</li>
  <li>e-mail: pb@cse.iitb.ac.in</li>
  <li>Website: <a href="https://www.cse.iitb.ac.in/~pb">https://www.cse.iitb.ac.in/~pb</a></li>
</ul>

<p>Dr. Pushpak Bhattacharyya is Vijay and Sita Vashee Chair Professor in the Department of Computer Science and Engineering at the Indian Institute of Technology Bombay (IITB) where he heads the Center for Natural Language Processing. He is also the Director of Indian Institute of Technology Patna.</p>
<p>Dr. Bhattacharyya obtained his Ph.D from IIT Bombay. His areas of interest cover a broad spectrum of problems in Natural Language Processing like machine translation, cross-lingual search, sentiment analysis -  specially with reference to Indian languages.</p>
<p>Dr. Bhattacharyya has published extensively in top quality conferences and journals (about 200). He has also written a textbook on machine translation. He has advised 12 PhDs in NLP and ML, and is currently supervising 10 PhD students. He has also advised close to 125 masters students and above 40 bachelor degree students for their research work.</p>
</li>

<li><p>Dr. Mitesh Khapra</p>
<ul class="list-unstyled">
  <li>Researcher, IBM India Research Laboratory,</li>
  <li>Bangalore, India.</li>
  <li>e-mail: mikhapra@in.ibm.com</li>
  <li>Website: <a href="http://researcher.watson.ibm.com/researcher/view.php?person=in-mikhapra">
  http://researcher.watson.ibm.com/researcher/view.php?person=in-mikhapra</a></li>
</ul>
<p>Mitesh Khapra obtained his Ph.D. from the Indian Institute of Technology Bombay in the area of Natural Language Processing with a focus on reusing resources for multilingual computation. His areas of interest include Statistical Machine Translation, Text Analytics, Crowdsourcing, Argument Mining and Deep Learning. He is currently working as a researcher at IBM Research India where he is focusing on mining arguments from large unstructured text. He has co-authored papers in NLP and ML conferences such as ACL, NAACL, EMNLP, AAAI and NIPS.</p>
</li>

<li><p>Anoop Kunchukuttan</p>
<ul class="list-unstyled">
  <li>Ph.D Scholar, Center for Indian Language Technology,</li>
  <li>Dept. of Computer Science & Engineering, Indian Institute of Technology Bombay</li>
  <li>Mumbai, India.</li>
  <li>e-mail: anoopk@cse.iitb.ac.in</li>
  <li>Website: <a href="http://www.cse.iitb.ac.in/~anoopk">www.cse.iitb.ac.in/~anoopk</a></li>
</ul>
<p>Anoop Kunchukuttan is a senior Ph.D student at the Indian Institute of Technology Bombay. He is advised by Prof. Pushpak Bhattacharyya on his research work involving machine translation and transliteration among related languages. He has also investigated other NLP problems - multiword extraction, grammar correction, crowdsourcing and information extraction. He has co-authored papers in NLP conferences such as ACL, NAACL, CONLL, LREC, ICON. He has worked in the software industry for about 5 years, during which he led the development of large scale systems for information extraction and retrieval over medical text. He completed his M.Tech in Computer Science & Engineering from IIT Bombay.</p>
</li>
</ul>

              </div>
            </div>
          </div> <!-- tutorials-list -->
        </div>  <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
