---

---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Tutorials - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="We seek proposals for tutorials in all areas of computational linguistics, broadly conceived to include disciplines such as linguistics, speech, information retrieval and multimodal processing." />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-9">
        <h2><i class="glyphicon glyphicon-blackboard"></i> <b>Tutorials</b></h2>
          </p>
<h3>Joint Call for Tutorial Proposals: NAACL/ACL/EMNLP 2016</h3>
<p>The North American Chapter of the Association for Computational Linguistics (NAACL), the Association for Computational Linguistics (ACL), and the Conference on Empirical Methods in Natural Language Processing (EMNLP) invite proposals for tutorials to be held in conjunction with NAACL 2016, ACL 2016, or EMNLP 2016. We seek proposals for tutorials in all areas of computational linguistics, broadly conceived to include disciplines such as linguistics, speech, information retrieval and multimodal processing. We particularly welcome (1) tutorials that cover advances in newly emerging areas not previously covered in any NAACL/ACL/EMNLP related tutorial, or (2) tutorials that provide introductions into related fields that are potentially relevant for the CL community (e.g. bioinformatics, social media, human language processing, machine learning techniques). Tutorials will be held at one of the following conference venues:</p>

<p>NAACL 2016 is the Annual Meeting of the North American Chapter of the Association for Computational Linguistics (NAACL). It will be held in San Diego, California, June 12-June 17, 2016. The NAACL tutorials will be held on June 12. The webpage for NAACL 2016 is: <a href="http://naacl.org/naacl-hlt-2016">http://naacl.org/naacl-hlt-2016</a>.</p>

<p>ACL 2016 is the 54th Annual Meeting of the Association for Computational Linguistics. It will be held in Berlin, Germany, August 7–12, 2016. The ACL tutorials will be held on August 7. ACL webpage: <a href="http://acl2016.org/">http://acl2016.org</a>.</p>

<p>EMNLP 2016 is the SIGDAT conference on Empirical Methods in Natural Language Processing (EMNLP). It will be held in Austin, Texas in September 2016. The dates for the EMNLP tutorials are still not definitive.</p>

<h3>Remuneration</h3>
<p>Information on the payment for tutorial instructors can be found in the ACL Tutorial Teacher Payment Policy. Please note: remuneration for Tutorial presenters is fixed according to the above policy and does not cover registration fees for the main conference.</p>

<h3>Submission Details</h3>
<p>Proposals for tutorials should contain:</p>
<ol>
  <li>A title and brief description of the tutorial content and its relevance to the ACL community (not more than 2 pages).</li>
<li>A brief outline of the tutorial structure showing that the tutorial’s core content can be covered in a three-hour slot (including a coffee break). In exceptional cases six-hour tutorial slots are available as well.</li>
<li> The names, affiliations, email addresses and websites of the tutorial instructors, including a one-paragraph statement of their research interests and areas of expertise.</li>
<li>A list of previous venues and approximate audience sizes, if the same or a similar tutorial has been given elsewhere; otherwise an estimate of the audience size.</li>
<li>A description of special requirements for technical equipment (e.g., internet access).</li>
<li>A note specifying which venue(s) (NAACL/ACL/EMNLP) would be acceptable and/or preferable.</li>
</ol>

<p>Tutorial proposals should be submitted online by January 15, 2016 through the START system:
<a href="https://www.softconf.com/acl2016/tutorial/">https://www.softconf.com/acl2016/tutorial/</a></p>

<p>Proposals will be reviewed jointly by the Tutorial Co-Chairs of the three conferences.</p>

<h3>Tutorial Speaker Responsibilities</h3>
<p>Accepted tutorial speakers will be notified by Friday, February 12, 2016, and must then provide abstracts of their tutorials for inclusion in the conference registration material by the corresponding deadlines. The description should be in two formats: an ASCII version that can be included in email announcements and published on the conference website, and a PDF version for inclusion in the electronic proceedings (detailed instructions will be provided). Tutorial speakers must provide tutorial materials, at least containing copies of the course slides as well as a bibliography for the material covered in the tutorial, by the deadlines specified for the three conferences.</p>

<h4>Shared dates:</h4>
<div class="row">
<div class="col-md-7">
<table class="table table-striped table-condensed">
  <tr><td>Submission Deadline for Tutorial Proposals</td>
      <td>January 15, 2016</td>
  </tr>
  <tr><td>Notification of Acceptance</td>
      <td>February 12, 2016</td>
  </tr>
  <tr><td>Tutorial Descriptions Due</td>
      <td>March 11, 2016</td>
  </tr>
</table>
</div>
</div>

<h4>NAACL 2016 Tutorials</h4>
<div class="row">
  <div class="col-md-7">
    <table class="table table-striped table-condensed">
      <tr><td>NAACL Tutorials course material due</td>
          <td>April 20, 2016</td>
      </tr>
      <tr><td>NAACL Tutorials date</td>
          <td>June 12, 2016</td>
      </tr>
    </table>
  </div>
</div>

<h4>ACL 2016 Tutorials</h4>
<div class="row">
  <div class="col-md-7">
    <table class="table table-striped table-condensed">
      <tr><td>ACL Tutorials course material due</td>
          <td>July 7, 2016</td>
      </tr>
      <tr><td>ACL Tutorials date</td>
          <td>August 7, 2016</td>
      </tr>
    </table>
  </div>
</div>

<h4>EMNLP 2016 Tutorials</h4>
<div class="row">
  <div class="col-md-7">
    <table class="table table-striped table-condensed">
      <tr><td>EMNLP Tutorials course material due</td>
          <td>September 30, 2016</td>
      </tr>
      <tr><td>EMNLP Tutorials date</td>
          <td>November 2, 2016</td>
      </tr>
    </table>
  </div>
</div>
<h3>Tutorial Co-Chairs</h3>

<h4>NAACL</h4>
<p>Mohit Bansal, TTI-Chicago, USA</p>
<p>Alexander Rush, Harvard University, USA</p>

<h4>ACL</h4>
<p>Alexandra Birch, University of Edinburgh, UK</p>
<p>Jelle Zuidema, Universiteit van Amsterdam, Netherlands</p>

<h4>EMNLP</h4>
<p>Rebecca Hwa, University of Pittsburgh, USA</p>
<p>Bishan Yang, Carnegie Mellon University, USA</p>
<br>
          </div>  <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
