---

---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Tutorials - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="We seek proposals for tutorials in all areas of computational linguistics, broadly conceived to include disciplines such as linguistics, speech, information retrieval and multimodal processing." />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-7">
        <h2><i class="glyphicon glyphicon-blackboard"></i> <b>NAACL HLT 2016 Tutorials</b></h2>
        <div id="tutorials-list">
          <p><h3>Morning Tutorials</h3></p>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="label label-primary tutorial-label">T1</span>
                <span class="tutorial-title">English Resource Semantics</span>
              </div>
            </div>
            <div class="panel-body">
              <p>Dan Flickinger, Emily M. Bender, and Woodley Packard</p>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="label label-primary tutorial-label">T2</span>
                <span class="tutorial-title">Multilingual Multimodal Language Processing Using Neural Networks</span>
              </div>
            </div>
            <div class="panel-body">
              <p>Mitesh M Khapra and Sarath Chandar</p>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="label label-primary tutorial-label">T3</span>
                <span class="tutorial-title">Question Answering with Knowledge Base, Web and Beyond</span>
              </div>
            </div>
            <div class="panel-body">
              <p>Scott Wen-tau Yih & Hao Ma</p>
            </div>
          </div>

          <p><h3>Afternoon Tutorials</h3></p>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="label label-primary tutorial-label">T4</span>
                <span class="tutorial-title">Recent Progress in Deep Learning</span>
              </div>
            </div>
            <div class="panel-body">
              <p>Zhengdong Lu and Hang Li</p>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="label label-primary tutorial-label">T5</span>
                <span class="tutorial-title">Scalable Statistical Relational Learning for NLP</span>
              </div>
            </div>
            <div class="panel-body">
              <p>William Yang Wang and William W. Cohen</p>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                <span class="label label-primary tutorial-label">T6</span>
                <span class="tutorial-title">Statistical Machine Translation between Related Languages</span>
              </div>
            </div>
            <div class="panel-body">
              <p>Pushpak Bhattacharyya, Mitesh Khapra, and Anoop Kunchukuttan</p>
            </div>
          </div>
        </div> <!-- tutorials-list -->

        <h4>NAACL 2016 Tutorials: Important Dates</h4>
        <div class="row">
          <div class="col-md-7">
            <table class="table table-striped table-condensed">
              <tr><td>NAACL Tutorials course material due</td>
                  <td>April 20, 2016</td>
              </tr>
              <tr><td>NAACL Tutorials date</td>
                  <td>June 12, 2016</td>
              </tr>
            </table>
          </div>
        </div>

        <h3>Tutorial Co-Chairs</h3>

        <h4>NAACL</h4>
        <p>Mohit Bansal, TTI-Chicago, USA</p>
        <p>Alexander Rush, Harvard University, USA</p>

          </div>  <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
