---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Student Volunteers - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description"
          content="Student volunteer information for NAACL HLT 2016" />
   {% include head.html %}
 </head>

  <body>
    {% include nav.html %} 
    <div class="container">
    </div> <!-- container -->

    <div class="jumbotron" id="header">
      <div class="container">
            <div class="navbutton">
        <!-- class="navbar navbar-default navbar-fixed-left">  -->
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>
        <div class="col-md-10">
          <h2><span class="glyphicon glyphicon-apple"></span> <b>Student Volunteers</b></h2>
          <div class="row">
            <div class="col-md-8">
            <p>We seek a limited number of student volunteers for the 2016 Conference of the
            North American Chapter of the Association for Computational Linguistics - Human Language Technology.</p>

            <p>Volunteers are assigned one full day’s work. The work will be divided, probably into two half-day shifts, and the shifts will be scheduled to maximize volunteer access to the conference events. Tasks include assisting at the registration desk, stuffing delegate packs, and providing technical assistance for conference events including tutorials, the main conference, and workshops.</p>

            <p>Preference will be given to students who have papers accepted at the main conference or workshops.</p>

            <p>In return for volunteering work, <b>students receive free registration</b> to the main conference.
            Workshops and tutorials are not included, and must be paid for by the student.</p>

            <p><b>Application deadline: March 16, 2016</b></p>
            <p><b>Notification of acceptance: April 6, 2016</b></p>

            <h3>Submission Procedure</h3>
            <p>To apply for the Student Volunteer Program, please fill out this grant application form:</p>

            <p><a href="http://goo.gl/forms/a2QMlX7MmS">http://goo.gl/forms/a2QMlX7MmS</a></p>

            <p>All Student Volunteer Award recipients must register for the conference, selecting “I am a Student Volunteer” in the main conference section. Students who pay the main conference registration and are selected as volunteers will be reimbursed by the office manager, Priscilla Rasmussen, after the conference and upon providing receipts.</p>
            </div> <!-- col-md-8 -->

            <div class="col-md-4" id="sidebar">
              <!-- empty -->
            </div> <!-- col-md-4 #sidebar -->

          </div> <!-- row -->
        </div> <!-- col-md-10 -->
      </div> <!-- row -->
    </div> <!-- container -->

    <!-- put new container content here -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
