---
---
<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-left"> 
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container">

      <h2><span class="glyphicon glyphicon-th"></span> Workshops: June 16 &ndash; 17</h2>
      <div class="row">
        <div class="col-md-9">
          <p><a href="call-for-workshops.txt">
           <span class="glyphicon glyphicon-download"></span></a>
           <a href="call-for-workshops.txt">
           Download the Joint ACL/NAACL/EMNLP 2016 Call For Workshops</a>
          </p>
          <p>For inquiries, send email to the workshop organizers at:
          <a href="mailto:workshop-chairs-2016@googlegroups.com">workshop-chairs-2016@googlegroups.com</a></p>

<h3>Joint Call for Workshops Proposals: ACL/NAACL/EMNLP 2016</h3>

          <p><b>Proposal Submission Deadline:</b> 1 November 2015</p>
          <p><b>Notification of Acceptance:</b> 15 November 2015</p>
<p>The Association for Computational Linguistics (ACL), the North American Chapter of the Association for Computational Linguistics (NAACL), and the Conference on Empirical Methods in Natural Language Processing (EMNLP) invite proposals for workshops to be held in conjunction with <a href="http://acl2016.org"</a>ACL 2016</a>, <a href="http://naacl2016.org">NAACL 2016</a>, or EMNLP 2016. We solicit proposals on any topic of interest to the ACL communities. Workshops will be held at one of the following conference venues:</p>

<p><a href="http://acl2016.org">ACL 2016</a> is the 54th Annual Meeting of the Association for Computational Linguistics.<br>It will be held in Berlin, Germany, August 7-12, 2016. The dates for the ACL workshops will be August 11-12: <a href="http//acl2016.org">http://acl2016.org/</a>.</p>

<p><a href="http://naacl2016.org">NAACL 2016</a> is the Annual Meeting of the North American Chapter of the Association for Computational Linguistics.<br>It will be held in San Diego, California, June 12-17, 2016. The dates for the NAACL workshops will be June 16-17: <a href="http://naacl2016.org">http://naacl.org/naacl-hlt-2016/</a>.</p>

<p>EMNLP 2016 is the SIGDAT conference on Empirical Methods for Natural Language Processing.<br>It will be held in Austin, Texas in September 2016. The dates for the EMNLP workshops are still not definitive.</p>

<p><em>Proposals will be reviewed jointly by the Workshop Co-Chairs of the three conferences.</em></p>

<h3>Submission Information</h3>

<p>Proposals for workshops should contain:</p>
<ul>
  <li>A title and brief (2-page max) description of the workshop topic and content.</li>
  <li>The desired workshop length (one or two days) and an estimate of the number of attendees.</li>
  <li>The names, postal addresses, phone numbers, and email addresses of the organizers, with one-paragraph statements of their research interests and areas of expertise.</li>
  <li>A list of Programme Committee members, with an indication of which members have already agreed. It is highly desirable for proposals to have at least 75% of the Programme Committee reviewers confirmed at the time of the submission. Organizers should do their best to estimate the number of submissions (especially for recurring workshops) in order to (a) ensure a sufficient number of reviewers so that each paper receives 3 reviews, and (b) anticipate that no one is committed to reviewing more than 2 papers. This practice is likely to ensure on-time, and more thorough and thoughtful reviews. Submissions should essentially be ready to be turned into a Call for Workshop Papers within one week of notification (see Timelines).</li>
  <li>A description of any shared tasks associated with the workshop.</li>
  <li>A description of special requirements for technical needs.</li>
  <li>A note specifying which venue(s) (NAACL/ACL/EMNLP) would be acceptable and/or preferable.</li>
</ul>

<p>The workshop co-chairs will review the quality of the workshop proposals. Once the reviews are complete, the workshop co-chairs will work together to assign workshops to the three conferences, taking into account the location preferences and constraints provided by the workshop proposers.</p>

<p>The ACL has a set of policies on workshops. You can find the ACL's general policies on workshops, the financial policy for workshops, and the financial policy for SIG workshops at:</p>
<a href="http://aclweb.org/adminwiki/index.php?title=Conference_Handbook">http://aclweb.org/adminwiki/index.php?title=Conference_Handbook</a></p>
 
<p>Proposals should be submitted as PDF documents. They should be attached and emailed to the workshop organizers (<a href="mailto:workshop-chairs-2016@googlegroups.com">workshop-chairs-2016@googlegroups.com</a>) no later than <b>1 November 2015, Samoa Standard Time (SST) (UTC/GMT-11)</b>. You should receive a confirmation of proposal receipt within 24 hours. If you do not, please get in touch with the workshop chairs.</p>

<p>Notification of acceptance of workshop proposals will occur no later than 15 November 2015.</p>

<p>Organizers of accepted proposals will be responsible for publicizing and running the workshop, including reviewing submissions, producing the camera ready workshop proceedings, and organizing the meeting days. It is crucial that organizers commit to all deadlines. In particular, failure to produce the camera ready proceedings on time will lead to the exclusion of the workshop from the unified proceedings and author indexes.  Workshop organizers cannot accept for publication papers that will be (or have been) published elsewhere, although they are free to set their own policies on simultaneous submission and review. Since the conferences will occur at different times, the timelines for the submission and reviewing of workshop papers, and the preparation of camera-ready copies, will be different for each conference. Suggested timelines for each of the conferences are given below. Workshop organizers should not deviate from this schedule unless absolutely necessary.</p>

<h3>Timeline for 2016 Workshops</h3>

<h4>Shared dates:</h4>
<div class="row">
<div class="col-md-6">
<table class="table table-striped table-condensed">
  <tr><td>Proposal Submission Deadline</td>
      <td>November 1, 2016</td>
  </tr>
  <tr><td>Notification of Acceptance</td>
      <td>November 15, 2016</td>
  </tr>
</table>
</div>
</div>

<h4>NAACL 2016 Workshop Dates</h4>
<div class="row">
<div class="col-md-6">
<table class="table table-striped table-condensed">
  <tr><td>First Call for Workhop Papers</td>
      <td>November 20, 2015</td>
  </tr>
  <tr><td>Second Call for Workshop Papers</td>
      <td>December 20, 2015</td>
  </tr>
  <tr><td>Workshop Paper Due Date</td>
      <td>February 25, 2016</td>
  </tr>
  <tr><td>Notification of Acceptance</td>
      <td>March 20, 2016</td>
  </tr>
  <tr><td>Camera-Ready Papers Due</td>
      <td>March 30, 2016</td>
  </tr>
  <tr><td>Workshop Dates</td>
      <td>June 4&ndash;5, 2016</td>
  </tr>
</table>
</div>
</div>

<h4>ACL 2016 Workshop Dates</h4>
<div class="row">
<div class="col-md-6">
<table class="table table-striped table-condensed">
  <tr><td>First Call for Workhop Papers</td>
      <td>January 10, 2016</td>
  </tr>
  <tr><td>Workshop Paper Due Date</td>
      <td>May 8, 2016</td>
  </tr>
  <tr><td>Notification of Acceptance</td>
      <td>June 5, 2016</td>
  </tr>
  <tr><td>Camera-Ready Papers Due</td>
      <td>June 22, 2016</td>
  </tr>
  <tr><td>Workshop Dates</td>
      <td>August 11&ndash;12, 2016</td>
  </tr>
</table>
</div>
</div>

<h4>EMNLP 2016 Workshop Dates</h4>
<em>exact dates will be provided later.</em>
<div class="row">
<div class="col-md-6">
<table class="table table-striped table-condensed">
  <tr><td>First Call for Workhop Papers</td>
      <td>April 2016</td>
  </tr>
  <tr><td>Workshop Paper Due Date</td>
      <td>June 2016</td>
  </tr>
  <tr><td>Notification of Acceptance</td>
      <td>July 2016</td>
  </tr>
  <tr><td>Camera-Ready Papers Due</td>
      <td>August 2016</td>
  </tr>
  <tr><td>Workshop Dates</td>
      <td>September 2016</td>
  </tr>
</table>
</div>
</div>

<h3>Workshop Co-Chairs</h3>

<h4>NAACL</h4>
<p>Adrià de Gispert, SDL Research</p>
<p>Radu Soricut, Google</p>

<h4>ACL</h4>
<p>Sabine Schulte im Walde, University of Stuttgart</p>
<p>Jun Zhao, Chinese Academy of Sciences</p>

<h4>EMNLP</h4>
<p>Greg Kondrak, University of Alberta</p>
<p>Annie Louis, University of Edinburgh</p>

<p>For inquiries, send email to the workshop organizers at: <a href="mailto:workshop-chairs-2016@googlegroups.com">workshop-chairs-2016@googlegroups.com</a></p>
        </div>
      </div>
    </div> <!-- end conainer -->
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
