---
---
<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Workshops FAQ - NAACL HLT 2016 | San Diego, CA</title>
   <meta name="description" content="NAACL 2016 Workshops FAQ with answers to common questions." />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>

        <div class="col-md-8">
        <h2><i class="glyphicon glyphicon-th"></i> <b>Workshops FAQ</b></h2>
        <h4>
          <a href="workshops.html">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="workshops.html">Back to Workshops listing</a>
        </h4>
        <br>
        <ol>
          <li>
             <p><b>Will you set up the poster boards for the workshop? What is the preferred poster size?</b></p>
             <p>Yes, and we will have the needed tape, clips, pushpins, putty, etc. to affix the posters to the boards. We will use the same posterboards that have been used the past few NAACLs:  4 ft wide, 3 ft high, self-standing boards placed on top of 18 in deep and 6 ft long tables.</p>
          </li>
          <li>
            <p><b>Is it possible to have some tables to put a laptop next to the poster board?</b></p>
            <p>Yes, the boards will be on tables described above that can hold laptops, business cards, flyers, etc.</p>
          </li>
          <li>
            <p><b>Will coffee be available for the coffee breaks?</b></p>
            <p>Sure!  The coffee breaks will include all the goodies just the same as the main conference (coffee, tea, etc plus snacks)</p>
          </li>
          <li>
            <p><b>Should I come to the venue earlier than June 16 (day of the workshop) to check the room etc. or I don't need to worry about anything and there will be people to help in the morning?</b></p>
            <p>If you are not attending the main conference, just show up the day of the workshops.  If you do arrive early and want to see some of the rooms, Priscilla can certainly show them to you. But, we will have things completely planned out, and all should be fine.</p>
          </li>
          <li>
            <p><b>As an organizer of the workshop, do I need to register to this workshop myself (and pay the workshop fee)?</b></p>
            <p>You do not need to register/pay if you are the workshop's organizer.</p>
          </li>
        </ol>

      </div>
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
