---
---
<!DOCTYPE html>
<html lang="en">
 <head>
    <title>Workshops - NAACL HLT 2016 | San Diego, CA</title>
    <meta name="description" content="The Association for Computational Linguistics (ACL), the North American Chapter of the Association for Computational Linguistics (NAACL), and the Conference on Empirical Methods in Natural Language Processing (EMNLP) invite proposals for workshops to be held in conjunction with ACL 2016, NAACL 2016, or EMNLP 2016. We solicit proposals on any topic of interest to the ACL communities." />
   {% include head.html %}
 </head>
  <body>
    {% include nav.html %} 
    <div class="jumbotron" id="header">
      <div class="container">
        <div class="navbutton">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"> 
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button> 
        </div>
       {% include top_banner.html %}
      </div> <!-- container -->
    </div> <!-- jumbotron -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-nav">
          {% include sidebar_nav.html %}
        </div>

        <div class="col-md-8">
        <h2><i class="glyphicon glyphicon-th"></i> <b>NAACL HLT 2016 Workshops</b></h2>
        <p><b>June 16 &ndash; 17, 2016</b></p>
        <ul>
          <li>
            <span class="label label-default ws-label">W1</span>
            <a href="http://alt.qcri.org/semeval2016/">
              SemEval: 10th International Workshop on Semantic Evaluations
            </a>
          </li>
        </ul>

        <p><b>June 16, 2016</b></p>
<ul>
  <li>
    <span class="label label-default ws-label">W2</span>
    <a href="https://sites.google.com/a/colorado.edu/2016-naacl-ws-human-computer-qa/">
      Human-Computer Question Answering
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W3</span>
    <a href="https://sites.google.com/site/clfl2016/home">
      Fifth Workshop on Computational Linguistics for Literature (clfl2016)
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W4</span>
    <a href="http://clpsych.org/">
      Computational Linguistics and Clinical Psychology - From Linguistic Signal to Clinical Reality Workshop (CLPsych)
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W5</span>
    <a href="http://optima.jrc.it/wassa2016/">
      7th Workshop on Computational Approaches to Subjectivity, Sentiment and Social Media Analysis (WASSA 2016)
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W6</span>
    <a href="http://www.cs.rochester.edu/~tetreaul/naacl-bea11.html">
      11th Workshop on Innovative Use of NLP for Building Educational Applications (BEA11)
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W7</span>
    <a href="http://hlt.suda.edu.cn/workshop/sedmt2016/">
      2nd Workshop on Semantics-Driven Machine Translation (SedMT2016)
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W8</span>
    <a href="http://corbon.nlp.ipipan.waw.pl/">
      Coreference Resolution Beyond OntoNotes
    </a>
  </li>
</ul>
        <p><b>June 17, 2016</b></p>
<ul>
  <li>
    <span class="label label-default ws-label">W9&nbsp;</span>
    <a href="https://www.montclair.edu/chss/linguistics/deception-detection/">
      Workshop on Computational Approaches to Deception Detection
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W10</span>
    <a href="http://rgcl.wlv.ac.uk/disco/">
      Workshop on Discontinuous Structures in Natural Language Processing
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W11</span>
    <a href="https://sites.google.com/site/wsevents2016/">
      The 4th Workshop on EVENTS: Definition, Detection, Coreference, and Representation
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W12</span>
    <a href="https://sites.google.com/site/metaphorinnlp2016/">
      The 4th Workshop on Metaphor in NLP (Meta4NLP)
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W13</span>
    <a href="https://sites.google.com/site/multilingnlp/home">
      Workshop on Multilingual and Cross­lingual Methods in NLP
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W14</span>
    <a href="http://www.akbc.ws/2016/">
      AKBC: 5th Workshop on Automated Knowledge Base Construction
    </a>
  </li>
  <li>
    <span class="label label-default ws-label">W15</span>
    <a href="http://www.textgraphs.org/ws16">
      TextGraphs: 10th Workshop on Graph-based Methods for Natural Language Processing
    </a>
  </li>
</ul>
<br>
        <blockquote>
          <p>
            <a href="https://sites.google.com/site/naaclsrw2016/" id="srw">
              <b>Student Research Workshop</b>
            </a>
          </p>
          <p>The Student Research Workshop (SRW) provides a venue for student researchers to
          present their work in computational linguistics and natural language processing.
          Students receive feedback from the general conference audience as well as from
          mentors specifically assigned according to the topic of their work. 
          The Student Research Workshop is held as a part of the main conference sessions 
          and attendance is covered within the main conference registration fees.
          </p><p>
          <a href="https://sites.google.com/site/naaclsrw2016/home/call-for-papers">
           SRW paper submission deadline is March 11, 2016.</a>
          </p>
        </blockquote>

<h3>NAACL HLT 2016 Workshops Timeline</h3>
<div class="row">
<div class="col-md-7">
<table class="table table-striped table-condensed">
  <tr><td>First Call for Workhop Papers</td>
      <td>November 20, 2015</td>
  </tr>
  <tr><td>Second Call for Workshop Papers</td>
      <td>December 20, 2015</td>
  </tr>
  <tr><td>Workshop Paper Due Date</td>
      <td>February 25, 2016</td>
  </tr>
  <tr><td>Notification of Acceptance</td>
      <td>March 20, 2016</td>
  </tr>
  <tr><td>Camera-Ready Papers Due</td>
      <td>March 30, 2016</td>
  </tr>
  <tr><td>Workshop Dates</td>
      <td>June 16&ndash;17, 2016</td>
  </tr>
</table>
</div>
</div>

<h3>NAACL HLT 2016 Workshop Co-Chairs</h3>

<p>Adrià de Gispert, SDL Research</p>
<p>Radu Soricut, Google</p>

<p>For inquiries, send email to the workshop organizers at: <a href="mailto:workshop-chairs-2016@googlegroups.com">workshop-chairs-2016@googlegroups.com</a></p>
        </div>
      </div>
    </div> <!-- end conainer -->
    {% include footer.html %}
    </div> <!-- wrapper -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/analytics.js"></script>
  </body>
</html>
