<li class="accepted-paper-item">
  <span class="paper-title">
    Instant Feedback for Increasing the Presence of Solutions in Peer Reviews
  </span>
  <span class="paper-authors">
    Huy Nguyen, Wenting Xiong and Diane Litman
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Farasa: A Fast and Furious Segmenter for Arabic
  </span>
  <span class="paper-authors">
    Ahmed Abdelali, Kareem Darwish, Nadir Durrani and Hamdy Mubarak
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    iAppraise: A Manual Machine Translation Evaluation Environment Supporting Eye-tracking
  </span>
  <span class="paper-authors">
    Ahmed Abdelali, Nadir Durrani and Francisco Guzmán
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Linguistica 5: Unsupervised Learning of Linguistic Structure
  </span>
  <span class="paper-authors">
    Jackson Lee and John Goldsmith
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    TransRead: Designing a Bilingual Reading Experience with Machine Translation Technologies
  </span>
  <span class="paper-authors">
    François Yvon, Yong Xu, Marianna Apidianaki, Clément Pillias and Pierre Cubaud
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    New Dimensions in Testimony Demonstration
  </span>
  <span class="paper-authors">
    Ron Artstein, Alesia Gainer, Kallirroi Georgila, Anton Leuski, Ari Shapiro and David Traum
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    ArgRewrite: A Web-based Revision Assistant for Argumentative Writings
  </span>
  <span class="paper-authors">
    Fan Zhang, Rebecca Hwa, Diane Litman and Homa B. Hashemi
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Scaling Up Word Clustering
  </span>
  <span class="paper-authors">
    Jon Dehdari, Liling Tan and Josef van Genabith
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Task Completion Platform: A self-serve multi-domain goal oriented dialogue platform
  </span>
  <span class="paper-authors">
    Paul Crook, Alex Marin, Vipul Agarwal, Khushboo Aggarwal, Tasos Anastasakos, Ravi Bikkula, Daniel Boies, Asli Celikyilmaz, Senthilkumar Chandramohan, Zhaleh Feizollahi, Roman Holenstein, Minwoo Jeong, Omar Khan, Young-Bum Kim, Elizabeth Krawczyk, Xiaohu Liu, Danko Panic, Vasiliy Radostev, Nikhil Ramesh, Jean-Phillipe Robichaud, Alexandre Rochette, Logan Stromberg and Ruhi Sarikaya
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Illinois Math Solver: Math Reasoning on the Web
  </span>
  <span class="paper-authors">
    Subhro Roy and Dan Roth
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    LingoTurk: managing crowdsourced tasks for psycholinguistics
  </span>
  <span class="paper-authors">
    Florian Pusse, Asad Sayeed and Vera Demberg
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Sentential Paraphrasing as Black-Box Machine Translation
  </span>
  <span class="paper-authors">
    Courtney Napoles, Chris Callison-Burch and Matt Post
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Tag-based English Math Word Problem Solver with Understanding, Reasoning and Explanation
  </span>
  <span class="paper-authors">
    ChaoChun Liang, KuangYi Hsu, ChienTsung Huang, ChungMin Li, ShenYu Miao and KehYih Su
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Cross-media Event Extraction and Recommendation
  </span>
  <span class="paper-authors">
    Di Lu, Clare Voss, Fangbo Tao, Xiang Ren, Rachel Guan, Rostyslav Korolov, Tongtao Zhang, Dongang Wang, Hongzhi Li, Taylor Cassidy, Heng Ji, Shih-fu Chang, Jiawei Han, William Wallace, James Hendler, Mei Si and Lance Kaplan
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    SODA: Service Oriented Domain Adaptation Architecture for Microblog Categorization
  </span>
  <span class="paper-authors">
    Himanshu Sharad Bhatt, Sandipan Dandapat, Peddamuthu Balaji, Shourya Roy, Sharmistha Jat and Deepali Semwal
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Lecture Translator - Speech translation framework for simultaneous lecture translation
  </span>
  <span class="paper-authors">
    Markus Müller, Thai Son Nguyen, Jan Niehues, Eunah Cho, Bastian Krüger, Thanh-Le Ha, Kevin Kilgour, Matthias Sperber, Mohammed Mediani, Sebastian Stüker and Alex Waibel
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Zara The Supergirl: An Empathetic Personality Recognition System
  </span>
  <span class="paper-authors">
    Pascale Fung, Anik Dey, Farhad Bin Siddique, Ruixi Lin, Yang Yang, Yan Wan and Ho Yin Ricky Chan
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Kathaa: A Visual Programming Framework for NLP Applications
  </span>
  <span class="paper-authors">
    Sharada Prasanna Mohanty, Nehal J Wani, Manish Srivastava and Dipti Misra Sharma
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    "Why Should I Trust You?": Explaining the Predictions of Any Classifier
  </span>
  <span class="paper-authors">
    Marco Ribeiro, Sameer Singh and Carlos Guestrin
  </span>
</li>
