<li class="accepted-paper-item">
  <span class="paper-title">
    A Corpus and Evaluation Framework for Deeper Understanding of Commonsense Stories
  </span>
  <span class="paper-authors">
    Nasrin Mostafazadeh, Nathanael Chambers, Xiadong He, Devi Parikh, Dhruv Batra, Lucy Vanderwende, Pushmeet Kohli and James Allen
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Corpus and Semantic Parser for Natural Language Querying of OpenStreetMap
  </span>
  <span class="paper-authors">
    Carolin Haas and Stefan Riezler
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Diversity-Promoting Objective Function for Neural Conversation Models
  </span>
  <span class="paper-authors">
    Jiwei Li, Michel Galley, Chris Brockett, Jianfeng Gao and Bill Dolan
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Latent Variable Recurrent Neural Network for Discourse-Driven Language Models
  </span>
  <span class="paper-authors">
    Yangfeng Ji, Gholamreza Haffari and Jacob Eisenstein
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Low-Rank Approximation Approach to Learning Joint Embeddings of News Stories and Images for Timeline Summarization
  </span>
  <span class="paper-authors">
    William Yang Wang, Yashar Mehdad, Dragomir Radev and Amanda Stent
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Neural Network-Based Abstract Generation Method to Opinion Summarization
  </span>
  <span class="paper-authors">
    Lu Wang and Wang Ling
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Novel Approach for Dropped Pronoun Translation
  </span>
  <span class="paper-authors">
    Longyue Wang, Zhaopeng Tu, Xiaojun Zhang, Hang Li, Andy Way and Qun Liu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Study of the Impact of Persuasive Argumentation in Political Debates
  </span>
  <span class="paper-authors">
    Amparo Elizabeth Cano Basave and Yulan He
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Translation-Based Knowledge Graph Embedding Preserving Logical Property of Relations
  </span>
  <span class="paper-authors">
    Hee-Geun Yoon, Hyun-Je Song and Seong-Bae Park
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Achieving Accurate Conclusions in Evaluation of Automatic Machine Translation Metrics
  </span>
  <span class="paper-authors">
    Yvette Graham and Qun Liu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Activity Modeling in Email
  </span>
  <span class="paper-authors">
    Ashequl Qadir, Michael Gamon, Patrick Pantel and Ahmed Awadallah
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    An Attentional Model for Speech Translation Without Transcription
  </span>
  <span class="paper-authors">
    Long Duong, Antonios Anastasopoulos, Trevor Cohn, Steven Bird and David Chiang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    An Empirical Study of Automatic Chinese Word Segmentation for Spoken Language Understanding and Named Entity Recognition
  </span>
  <span class="paper-authors">
    Wencan Luo and Fan Yang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Automatic Generation and Scoring of Positive Interpretations from Negated Statements
  </span>
  <span class="paper-authors">
    Eduardo Blanco and Zahra Sarabi
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Automatic Prediction of Linguistic Decline in Writings of Patients with Degenerative Dementia
  </span>
  <span class="paper-authors">
    davy weissenbacher and Graciela Gonzalez
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Automatically Inferring Implicit Properties in Similes
  </span>
  <span class="paper-authors">
    Ashequl Qadir, Ellen Riloff and Marilyn Walker
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Bayesian Supervised Domain Adaptation for Short Text Similarity
  </span>
  <span class="paper-authors">
    Md Arafat Sultan, Jordan Boyd-Graber and Tamara Sumner
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Bidirectional RNN for Medical Event Detection in Electronic Health Records
  </span>
  <span class="paper-authors">
    Abhyuday Jagannatha and Hong Yu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Bilingual Learning of Multi-sense Embeddings with Discrete Autoencoders
  </span>
  <span class="paper-authors">
    Simon Suster, Ivan Titov and Gertjan van Noord
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Bilingual Word Embeddings from Parallel and Non-parallel Corpora for Cross-Language Text Classification
  </span>
  <span class="paper-authors">
    Aditya Mogadala and Achim Rettinger
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Black Holes and White Rabbits: Metaphor Identification with Visual Features
  </span>
  <span class="paper-authors">
    Ekaterina Shutova, Douwe Kiela and Jean Maillard
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Bridge Correlational Neural Networks for Multilingual Multimodal Representation Learning
  </span>
  <span class="paper-authors">
    Janarthanan Rajendran, Mitesh M Khapra, Sarath Chandar and Balaraman Ravindran
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Clustering Paraphrases by Word Sense
  </span>
  <span class="paper-authors">
    Anne Cocos and Chris Callison-Burch
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Clustering for Simultaneous Extraction of Aspects and Features from Reviews
  </span>
  <span class="paper-authors">
    Lu Chen, Justin Martineau, Doreen Cheng and Amit Sheth
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Comparing Convolutional Neural Networks to Traditional Models for Slot Filling
  </span>
  <span class="paper-authors">
    Heike Adel, Benjamin Roth and Hinrich Sch&uuml;tze
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Consensus Maximization Fusion of Probabilistic Information Extractors
  </span>
  <span class="paper-authors">
    Miguel Rodriguez, Sean Goldberg and Daisy Zhe Wang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Convolutional Neural Networks vs. Convolution Kernels: Feature Engineering for Question Answering
  </span>
  <span class="paper-authors">
    Kateryna Tymoshenko, Daniele Bonadiman and Alessandro Moschitti
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Cross-lingual Wikification Using Multilingual Embeddings
  </span>
  <span class="paper-authors">
    Chen-Tse Tsai and Dan Roth
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    DAG-structured Recurent Neural Networks for Semantic Compositionality
  </span>
  <span class="paper-authors">
    Xiaodan Zhu, Parinaz Sobhani and Hongyu Guo
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Deep LSTM based Feature Mapping for Query Classification
  </span>
  <span class="paper-authors">
    Yangyang Shi, Kaisheng Yao, Le Tian and Daxin Jiang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Denoising Bodies to Titles: Retrieving Similar Questions with Recurrent Convolutional Models
  </span>
  <span class="paper-authors">
    Tao Lei, Hrishikesh Joshi, Regina Barzilay, Tommi Jaakkola, Kateryna Tymoshenko, Alessandro Moschitti and Llu&iacute;s M&agrave;rquez
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Dependency Based Embeddings for Sentence Classification Tasks
  </span>
  <span class="paper-authors">
    Alexandros Komninos and Suresh Manandhar
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Dependency Sensitive Convolutional Neural Networks for Modeling Sentences and Documents
  </span>
  <span class="paper-authors">
    Rui Zhang, Honglak Lee and Dragomir Radev
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Distinguishing Literal and Non-Literal Usage of German Particle Verbs
  </span>
  <span class="paper-authors">
    Maximilian K&ouml;per and Sabine Schulte im Walde
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Dynamic Feature Induction: The Last Gist to the State-of-the-Art
  </span>
  <span class="paper-authors">
    Jinho D. Choi
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Effective Crowd Annotation for Relation Extraction
  </span>
  <span class="paper-authors">
    Angli Liu, Stephen Soderland, Jonathan Bragg, Christopher Lin and Daniel Weld
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Embedding Lexical Features via Low-rank Tensors
  </span>
  <span class="paper-authors">
    Mo Yu, Mark Dredze, Raman Arora and Matthew R. Gormley
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Entity-balanced Gaussian pLSA for Automated Comparison
  </span>
  <span class="paper-authors">
    Danish Contractor, Parag Singla and Mausam
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Expectation-Regulated Neural Model for Event Mention Extraction
  </span>
  <span class="paper-authors">
    Ching-Yun Chang and Yue Zhang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Feuding Families and Former Friends: Unsupervised Learning for Dynamic Fictional Relationships
  </span>
  <span class="paper-authors">
    Mohit Iyyer, Anupam Guha and Jordan Boyd-Graber
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Flexible Non-Terminals for Dependency Tree-to-Tree Reordering
  </span>
  <span class="paper-authors">
    John Richardson, Fabien Cromieres, Toshiaki Nakazawa and Sadao Kurohashi
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Generation from Abstract Meaning Representation using Tree Transducers
  </span>
  <span class="paper-authors">
    Jeffrey Flanigan, Chris Dyer, Noah A. Smith and Jaime Carbonell
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Grounded Semantic Role Labeling
  </span>
  <span class="paper-authors">
    Shaohua Yang, Qiaozo Gao, Changsong Liu, Caiming Xiong and Joyce Chai
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Hierarchical Attention Networks for Document Classification
  </span>
  <span class="paper-authors">
    Zichao Yang, Diyi Yang, Chris Dyer, Xiaodong He, Alex Smola and Eduard Hovy
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Improve Chinese Word Embeddings by Exploiting Internal Structure
  </span>
  <span class="paper-authors">
    Jian Xu, Jiawei Liu, Liangang Zhang, Zhengyu Li and Huanhuan Chen
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Incorporating Structural Alignment Biases into an Attentional Neural Translation Model
  </span>
  <span class="paper-authors">
    Trevor Cohn, Cong Duy Vu Hoang, Ekaterina Vymolova, Kaisheng Yao, Chris Dyer and Gholamreza Haffari
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Information Density and Quality Estimation Features as Translationese Indicators for Human Translation Classification
  </span>
  <span class="paper-authors">
    Raphael Rubino, Ekaterina Lapshinova-Koltunski and Josef van Genabith
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Integer Linear Programming for Discourse Parsing
  </span>
  <span class="paper-authors">
    J&eacute;r&eactue;my Perret, Stergos Afantenos, Nicholas Asher and Mathieu Morey
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Joint Event Extraction via Recurrent Neural Networks
  </span>
  <span class="paper-authors">
    Thien Huu Nguyen, Kyunghyun Cho and Ralph Grishman
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Joint Extraction of Events and Entities within a Document Context
  </span>
  <span class="paper-authors">
    Bishan Yang and Tom Mitchell
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Joint Learning with Global Inference for Comment Classification in Community Question Answering
  </span>
  <span class="paper-authors">
    Shafiq Joty, Llu&iacute;s M&agrave;rquez and Preslav Nakov
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    LSTM CCG Parsing
  </span>
  <span class="paper-authors">
    Mike Lewis, Kenton Lee and Luke Zettlemoyer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Large-scale Multitask Learning for Machine Translation Quality Estimation
  </span>
  <span class="paper-authors">
    Kashif Shah and Lucia Specia
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning Distributed Representations of Sentences from Unlabelled Data
  </span>
  <span class="paper-authors">
    Felix Hill, Kyunghyun Cho and Anna Korhonen
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning Global Features for Coreference Resolution
  </span>
  <span class="paper-authors">
    Sam Wiseman, Alexander M. Rush and Stuart Shieber
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning Natural Language Inference with LSTM
  </span>
  <span class="paper-authors">
    Shuohang Wang and Jing Jiang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning to Compose Neural Networks for Question Answering
  </span>
  <span class="paper-authors">
    Jacob Andreas, Marcus Rohrbach, Trevor Darrell and Dan Klein
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Lexical Coherence Graph Modeling By Word Embeddings
  </span>
  <span class="paper-authors">
    Mohsen Mesgar and Michael Strube
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Mapping Verbs in Different Languages to Knowledge Base Relations using Web Text as Interlingua
  </span>
  <span class="paper-authors">
    Derry Tanti Wijaya and Tom Mitchell
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Morphological Inflection Generation Using Character Sequence to Sequence Learning
  </span>
  <span class="paper-authors">
    Manaal Faruqui, Yulia Tsvetkov, Graham Neubig and Chris Dyer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multi-Way, Multilingual Neural Machine Translation with a Shared Attention Mechanism
  </span>
  <span class="paper-authors">
    Orhan Firat, Kyunghyun Cho and Yoshua Bengio
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multi-domain Neural Network Language Generation for Spoken Dialogue Systems
  </span>
  <span class="paper-authors">
    Tsung-Hsien Wen, Milica Gasic, Nikola Mrk&scaron;i&#263;, Lina M. Rojas Barahona, Pei-Hao Su, David Vandyke and Steve Young
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multilingual Language Processing From Bytes
  </span>
  <span class="paper-authors">
    Daniel Gillick, Cliff Brunk, Oriol Vinyals and Amarnag Subramanya
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multilingual Relation Extraction using Compositional Universal Schema
  </span>
  <span class="paper-authors">
    Patrick Verga, David Belanger, Emma Strubell, Benjamin Roth and Andrew McCallum
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Name Tagging for Low-resource Incident Languages based on Expectation-driven Learning
  </span>
  <span class="paper-authors">
    Boliang Zhang, Xiaoman Pan, Tianlu Wang, Ashish Vaswani, Heng Ji, Kevin Knight and Daniel Marcu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Natural Language Communication with Robots
  </span>
  <span class="paper-authors">
    Yonatan Bisk and Daniel Marcu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Neural Architectures for Named Entity Recognition
  </span>
  <span class="paper-authors">
    Guillaume Lample, Miguel Ballesteros, Kazuya Kawakami, Sandeep Subramanian and Chris Dyer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Open Set Text Classification by Reducing Open Space Risk
  </span>
  <span class="paper-authors">
    Geli Fei and Bing Liu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Opinion Holder and Target Extraction on Opinion Compounds -- A Linguistic Approach
  </span>
  <span class="paper-authors">
    Michael Wiegand, Christine Bocionek and Josef Ruppenhofer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    PRIMT: A Pick-Revise Framework for Interactive Machine Translation
  </span>
  <span class="paper-authors">
    Shanbo Cheng, Shujian Huang, Huadong Chen, XIN-YU DAI and Jiajun Chen
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Pairwise Word Interaction Modeling with Neural Networks for Semantic Similarity Measurement
  </span>
  <span class="paper-authors">
    Hua He and Jimmy Lin
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Part-of-Speech Tagging for Historical English
  </span>
  <span class="paper-authors">
    Yi Yang and Jacob Eisenstein
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Phonological Pun-derstanding
  </span>
  <span class="paper-authors">
    Aaron Jaech, Rik Koncel-Kedziorski and Mari Ostendorf
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Phrasal Substitution of Idiomatic Expressions
  </span>
  <span class="paper-authors">
    Changsheng Liu and Rebecca Hwa
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Polyglot Neural Language Models: A Case Study in Cross-Lingual Phonetic Representation Learning
  </span>
  <span class="paper-authors">
    Yulia Tsvetkov, Sunayana Sitaram, Manaal Faruqui, Guillaume Lample, Patrick Littell, David R. Mortensen, Alan W Black, Lori Levin and Chris Dyer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Predicting Student Essay Structure
  </span>
  <span class="paper-authors">
    Isaac Persing
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Probabilistic Models for Learning a Semantic Parser Lexicon
  </span>
  <span class="paper-authors">
    Jayant Krishnamurthy
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Questioning Arbitrariness in Language: a Data-Driven Study of Conventional Iconicity
  </span>
  <span class="paper-authors">
    Ekaterina Abramova and Raquel Fernandez
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Recurrent Memory Network for Language Modeling
  </span>
  <span class="paper-authors">
    Ke M. Tran, Arianna Bisazza and Christof Monz
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Recurrent Neural Network Grammars
  </span>
  <span class="paper-authors">
    Chris Dyer, Adhiguna Kuncoro, Miguel Ballesteros and Noah A. Smith
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Robust Classification of Argumentativeness through Distant Supervision
  </span>
  <span class="paper-authors">
    Khalid Al Khatib, Henning Wachsmuth, Matthias Hagen and Benno Stein
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Selecting Syntactic, Non-redundant Segments in Active Learning for Machine Translation
  </span>
  <span class="paper-authors">
    Akiva Miura, Graham Neubig, Michael Paul and Satoshi Nakamura
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Separating Actor-View from Speaker-View Opinion Expressions using Linguistic Features
  </span>
  <span class="paper-authors">
    Michael Wiegand, Marc Schulder and Josef Ruppenhofer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Shift-Reduce CCG Parsing with Recurrent Neural Networks and Expected F-Measure Training
  </span>
  <span class="paper-authors">
    Wenduan Xu, Stephen Clark and Michael Auli
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Sparse Bilingual Word Representations for Cross-lingual Lexical Entailment
  </span>
  <span class="paper-authors">
    Yogarshi Vyas and Marine Carpuat
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Speed-Constrained Tuning for Statistical Machine Translation Using Bayesian Optimization
  </span>
  <span class="paper-authors">
    Daniel Beck, Adri&agrave; de Gispert, Gonzalo Iglesias, Aurelien Waite and Bill Byrne
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Statistical Modeling of Creole Genesis
  </span>
  <span class="paper-authors">
    Yugo Murawaki
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Syntactic Parsing of Web Queries with Question Intent
  </span>
  <span class="paper-authors">
    Yuval Pinter, Roi Reichart and Idan Szpektor
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Ten Pairs to Tag -- Multilingual Transfer for POS Tagging with Few Translation Pairs
  </span>
  <span class="paper-authors">
    Yuan Zhang, David Gaddy, Regina Barzilay and Tommi Jaakkola
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    The Role of Context Types and Dimensionality in Learning Word Embeddings
  </span>
  <span class="paper-authors">
    Oren Melamud, David McClosky, Siddharth Patwardhan and Mohit Bansal
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Top-down Tree Long Short-Term Memory Networks
  </span>
  <span class="paper-authors">
    Xingxing Zhang, Liang Lu and Mirella Lapata
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Towards Unsupervised and Language-independent Compound Splitting using Inflectional Morphological Transformations
  </span>
  <span class="paper-authors">
    Patrick Ziering and Lonneke van der Plas
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Ultradense Word Embeddings by Orthogonal Transformation
  </span>
  <span class="paper-authors">
    Sascha Rothe, Sebastian Ebert and Hinrich Sch&uuml;tze
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Unsupervised Visual Sense Disambiguation for Verbs using Multimodal Embeddings
  </span>
  <span class="paper-authors">
    Spandana Gella, Mirella Lapata and Frank Keller
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Vision and Feature Norms: Improving automatic feature norm learning through cross-modal maps
  </span>
  <span class="paper-authors">
    Luana Bulat, Douwe Kiela and Stephen Clark
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Visualizing and Understanding Neural Models in NLP
  </span>
  <span class="paper-authors">
    Jiwei Li, Xinlei Chen, Eduard Hovy and Dan Jurafsky
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Weighting Finite-State Transductions With Neural Context
  </span>
  <span class="paper-authors">
    Pushpendre Rastogi, Ryan Cotterell and Jason Eisner
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    What to talk about and how? Selective Generation using LSTMs with Coarse-to-Fine Alignment
  </span>
  <span class="paper-authors">
    Hongyuan Mei, Mohit Bansal and Matthew Walter
  </span>
</li>
