  <li><a href="index.html">
    <span class="glyphicon glyphicon-home"></span> Home</a>
  </li>
  <li><a href="index.html#dates">
    <span class="glyphicon glyphicon-calendar"></span> Important Dates</a>
  </li>
  <li><a href="workshops.html">
    <span class="glyphicon glyphicon-blackboard"></span> Workshops</a>
  </li>
  <li><a href="demos.html">
    <span class="glyphicon glyphicon-th"></span> Demonstrations</a>
  </li>
  <li><a href="index.html#organization">
    <span class="glyphicon glyphicon-user"></span> Organization</a>
  </li>

