  <li class="hidden"><a href="index.html">
    <span class="glyphicon glyphicon-home"></span> Home</a>
  </li>
  <li><a href="program.html">
    <span class="glyphicon glyphicon-th-large"></span> Program</a>
  </li>
  <li><a href="https://goo.gl/5kGOCv" target="_blank">
    <span class="glyphicon glyphicon-book"></span> Handbook</a>
  </li>
  <li><a href="invited_speakers.html">
    <i class="fa fa-envelope-o"></i> Invited Speakers</a>
  </li>
  <li><a href="workshops.html">
    <span class="glyphicon glyphicon-th"></span> Workshops</a>
  </li>
  <li><a href="tutorials.html">
    <span class="glyphicon glyphicon-blackboard"></span> Tutorials</a>
  </li>
  <li><a href="demos.html">
    <span class="glyphicon glyphicon-play-circle"></span> Demonstrations</a>
  </li>

  <hr>
  <li><a href="registration.html">
    <i class="fa fa-pencil-square-o"></i> Registration</a>
  </li>
  <li><a href="venue.html">
    <i class="fa fa-building"></i> Accommodations</a>
  </li>
  <li><a href="presenter_info.html">
    <span class="glyphicon glyphicon-info-sign"></span> Presenter Info</a>
  </li>
  <li><a href="travel.html">
    <span class="glyphicon glyphicon-plane"></span> Travel &amp; Visas</a>
  </li>

  <hr>
  <li><a href="accepted_papers.html">
    <span class="glyphicon glyphicon-ok-circle"></span> Accepted Papers</a>
  </li>
  <li><a href="org.html">
    <i class="fa fa-users"></i> Organization</a>
  </li>
  <li><a href="sponsors.html">
    <span class="fa fa-star"></span> Sponsors</a>
  </li>

