  <li class="hidden"><a href="index.html">
    <span class="glyphicon glyphicon-home"></span> Home</a>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-stop"></span> Conference <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="cfp.html">
        <span class="glyphicon glyphicon-bullhorn"></span> Call for Papers</a>
      </li>
      <li><a href="org.html">
        <span class="glyphicon glyphicon-user"></span> Organization</a>
      </li>
    </ul>
  </li>
  <li><a href="tutorials.html">
    <span class="glyphicon glyphicon-blackboard"></span> Tutorials</a>
  </li>
  <li><a href="workshops.html">
    <i class="glyphicon glyphicon-th"></i> Workshops</a>
  </li>
  <li><a href="demos.html">
    <span class="glyphicon glyphicon-play-circle"></span> Demonstrations</a>
  </li>
  <li><a href="sponsors.html">
    <span class="fa fa-star"></span> Sponsors</a>
  </li>

