<li class="accepted-paper-item">
  <span class="paper-title">
    A Joint Model of Orthography and Morphological Segmentation
  </span>
  <span class="paper-authors">
    Ryan Cotterell, Tim Vieira and Hinrich Sch&uuml;tze
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Long Short-Term Memory Framework for Predicting Humor in Dialogues
  </span>
  <span class="paper-authors">
    Dario Bertero and Pascale Fung
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Recurrent Neural Networks Approach for Estimating the Quality of Machine Translation Output
  </span>
  <span class="paper-authors">
    Hyun Kim and Jong-Hyeok Lee
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Abstractive Summarization with Attentive Recurrent Neural Networks
  </span>
  <span class="paper-authors">
    Sumit Chopra, Alexander M. Rush and Michael Auli
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Agreement on Target-bidirectional Neural Machine Translation
  </span>
  <span class="paper-authors">
    Lemao Liu, Masao Utiyama, Andrew Finch and Eiichiro Sumita
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    An Empirical Evaluation of Noise Contrastive Estimation for the Neural Network Joint Model of Translation
  </span>
  <span class="paper-authors">
    Colin Cherry
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    An Unsupervised Model of Orthographic Variation for Historical Document Transcription
  </span>
  <span class="paper-authors">
    Dan Garrette and Hannah Alpert-Abrams
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Assessing Relative Sentence Complexity using an Incremental CCG Parser
  </span>
  <span class="paper-authors">
    Bharat Ram Ambati, Siva Reddy and Mark Steedman
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Automatic Summarization of Student Course Feedback
  </span>
  <span class="paper-authors">
    Wencan Luo, Fei Liu, Zitao Liu and Diane Litman
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    BIRA: Improved Predictive Exchange Word Clustering
  </span>
  <span class="paper-authors">
    Jon Dehdari, Liling Tan and Josef van Genabith
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Bootstrapping Translation Detection and Sentence Extraction from Comparable Corpora
  </span>
  <span class="paper-authors">
    Kriste Krstovski and David Smith
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Building Chinese Affective Resources in Valence-Arousal Dimensions
  </span>
  <span class="paper-authors">
    Liang-Chih Yu, Lung-Hao Lee, Shuai Hao, Jun Hu and K. Robert Lai
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Capturing Reliable Fine-Grained Sentiment Associations by Crowdsourcing
  </span>
  <span class="paper-authors">
    Svetlana Kiritchenko and Saif Mohammad
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Capturing Semantic Similarity for Entity Linking with Convolutional Neural Networks
  </span>
  <span class="paper-authors">
    Matthew Francis-Landau, Greg Durrett and Dan Klein
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Combining Recurrent and Convolutional Neural Networks for Relation Classification
  </span>
  <span class="paper-authors">
    Ngoc Thang Vu, Heike Adel, Pankaj Gupta and Hinrich Sch&uuml;tze
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Controlling Politeness in Neural Machine Translation via Side Constraints
  </span>
  <span class="paper-authors">
    Rico Sennrich, Barry Haddow and Alexandra Birch
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Conversational Flow in Oxford-style Debates
  </span>
  <span class="paper-authors">
    Justine Zhang, Ravi Kumar, Sujith Ravi and Cristian Danescu-Niculescu-Mizil
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Counter-fitting Word Vectors to Linguistic Constraints
  </span>
  <span class="paper-authors">
    Nikola Mrk&scaron;i&#263;, Diarmuid &Oacute; S&eacute;aghdha, Blaise Thomson, Milica Gasic, Lina M. Rojas Barahona, Pei-Hao Su, David Vandyke, Tsung-Hsien Wen and Steve Young
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Cross-genre Event Extraction Through Unsupervised Knowledge Enrichment
  </span>
  <span class="paper-authors">
    Hao Li and Heng Ji
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Deep Lexical Segmentation and Syntactic Parsing in the Easy-First Dependency Framework
  </span>
  <span class="paper-authors">
    Matthieu Constant, Joseph Le Roux and Nadi Tomeh
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Discriminative Reranking for Grammatical Error Correction with Statistical Machine Translation
  </span>
  <span class="paper-authors">
    Tomoya Mizumoto and Yuji Matsumoto
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Drop-out Conditional Random Fields for Twitter with Huge Mined Gazetteer
  </span>
  <span class="paper-authors">
    Eun-Suk Yang, Young-Bum Kim and Ruhi Sarikaya
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Dynamic Entity Representation with Max-pooling Improves Machine Reading
  </span>
  <span class="paper-authors">
    Sosuke Kobayashi, Ran Tian, Naoaki Okazaki and Kentaro Inui
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Emergent: a novel data-set for stance classification
  </span>
  <span class="paper-authors">
    William Ferreira and Andreas Vlachos
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Exploiting Distributional Representations with Distance Dependent CRPs for Extracting Sub-Tasks
  </span>
  <span class="paper-authors">
    Rishabh Mehrotra, Prasanta Bhattacharya and Emine Yilmaz
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Eyes Don't Lie: Predicting Machine Translation Quality Using Eye Movement
  </span>
  <span class="paper-authors">
    Hassan Sajjad, Francisco Guzm&aacute;n, Nadir Durrani, Ahmed Abdelali, Houda Bouamor, Irina Temnikova and Stephan Vogel
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Fast and Easy Short Answer Grading with High Accuracy
  </span>
  <span class="paper-authors">
    Md Arafat Sultan, Cristobal Salazar and Tamara Sumner
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Frustratingly Easy Cross-Lingual Transfer for Transition-Based Dependency Parsing
  </span>
  <span class="paper-authors">
    Oph&eacute;lie Lacroix, Guillaume Wisniewski, Fran&ccedil;ois Yvon and Lauriane Aufrant
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Geolocation for Twitter: Timing Matters
  </span>
  <span class="paper-authors">
    Mark Dredze, Miles Osborne and Anju Kambadur
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Grammatical error correction using neural machine translation
  </span>
  <span class="paper-authors">
    Zheng Yuan and Ted Briscoe
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Improved Neural Network-based Multi-label Classification with Better Initialization Leveraging Label Co-occurrence
  </span>
  <span class="paper-authors">
    Gakuto Kurata, Bing Xiang and Bowen Zhou
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Improving event prediction by representing script participants
  </span>
  <span class="paper-authors">
    Simon Ahrendt and Vera Demberg
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Improving sentence compression by learning to predict gaze
  </span>
  <span class="paper-authors">
    Sigrid Klerke, Yoav Goldberg and Anders S&oslash;gaard
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Incorporating Context into Recurrent Neural Network Language Models
  </span>
  <span class="paper-authors">
    Cong Duy Vu Hoang, Trevor Cohn and Gholamreza Haffari
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Individual Variation in the Choice of Referential Form
  </span>
  <span class="paper-authors">
    Thiago Castro Ferreira, Emiel Krahmer and Sander Wubben
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Inferring Psycholinguistic Properties of Words
  </span>
  <span class="paper-authors">
    Gustavo Paetzold and Lucia Specia
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Integrating Morphological Desegmentation into Phrase-based Decoding
  </span>
  <span class="paper-authors">
    Mohammad Salameh, Colin Cherry and Grzegorz Kondrak
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Inter-document Contextual Language model
  </span>
  <span class="paper-authors">
    Quan Hung Tran, Ingrid Zukerman and Gholamreza Haffari
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Interlocking Phrases in Phrase-based Statistical Machine Translation
  </span>
  <span class="paper-authors">
    Ye Kyaw Thu, Andrew Finch and Eiichiro Sumita
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Interpretese vs. Translationese: The Uniqueness of Human Strategies in Simultaneous Interpretation
  </span>
  <span class="paper-authors">
    He He, Jordan Boyd-Graber and Hal Daum&eacute; III
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Intra-Topic Variability Normalization based on Linear Projection for Topic Classification
  </span>
  <span class="paper-authors">
    Quan Liu, Wu Guo, Zhen-Hua Ling, Hui Jiang and Yu Hu
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Joint Learning Templates and Slots for Event Schema Induction
  </span>
  <span class="paper-authors">
    Lei Sha, Sujian Li, Baobao Chang and Zhifang Sui
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    K-Embeddings: Learning Conceptual Embeddings for Words using Context
  </span>
  <span class="paper-authors">
    Thuy Vu and D. Stott Parker
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Knowledge Guided Linguistic Rewrites for Inference Rule Verification
  </span>
  <span class="paper-authors">
    Prachi Jain and Mausam -
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    LSTM Neural Reordering Feature for Statistical Machine Translation
  </span>
  <span class="paper-authors">
    Yiming Cui, Shijin Wang, and Jianfeng Li
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning Distributed Word Representations For Bidirectional LSTM Recurrent Neural Network
  </span>
  <span class="paper-authors">
    Peilu Wang, Yao Qian, Frank Soong, Lei He and Hai Zhao
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning a POS tagger for AAVE-like language
  </span>
  <span class="paper-authors">
    Anna J&oslash;rgensen, Dirk Hovy and Anders S&oslash;gaard
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Learning to Recognize Ancillary Information for Automatic Paraphrase Identification
  </span>
  <span class="paper-authors">
    Simone Filice and Alessandro Moschitti
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Leverage Financial News to Predict Stock Price Movements UsingWord Embeddings and Deep Neural Networks
  </span>
  <span class="paper-authors">
    Yangtuo Peng and Hui Jiang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    MAWPS: A Math Word Problem Respository
  </span>
  <span class="paper-authors">
    Rik Koncel-Kedziorski, Subhro Roy, Aida Amini, Nate Kushman and Hannaneh Hajishirzi
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    MGNC-CNN: A Simple Approach to Exploiting Multiple Word Embeddings for Sentence Classification
  </span>
  <span class="paper-authors">
    Ye Zhang, Stephen Roller and Byron C. Wallace
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Making Dependency Labeling Simple, Fast and Accurate
  </span>
  <span class="paper-authors">
    Tianxiao Shen, Tao Lei and Regina Barzilay
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multi-Source Neural Translation
  </span>
  <span class="paper-authors">
    Barret Zoph and Kevin Knight
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multimodal Semantic Learning from Child-Directed Input
  </span>
  <span class="paper-authors">
    Angeliki Lazaridou, Grzegorz Chrupa_a, Raquel Fernandez and Marco Baroni
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Online Multilingual Topic Models with Multi-Level Hyperpriors
  </span>
  <span class="paper-authors">
    Kriste Krstovski, David Smith and Michael J. Kurtz
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    PIC a Different Word: A Simple Model for Lexical Substitution in Context
  </span>
  <span class="paper-authors">
    Stephen Roller and Katrin Erk
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Patterns of Wisdom: Discourse Level Style in Multi-Sentence Quotations
  </span>
  <span class="paper-authors">
    Kyle Booten and Marti A. Hearst
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Psycholinguistic Features for Deceptive Role Detection in Werewolf
  </span>
  <span class="paper-authors">
    Codruta Girlea and Roxana Girju
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Recurrent Support Vector Machines For Slot Tagging In Spoken Language Understanding
  </span>
  <span class="paper-authors">
    Yangyang Shi, Kaisheng Yao, Hu Chen, Dong Yu, Yi-Cheng Pan and Mei-Yuh Hwang
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Retrofitting sense-specific word vectors using parallel text
  </span>
  <span class="paper-authors">
    Allyson Ettinger, Philip Resnik and Marine Carpuat
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Right-truncatable Neural Word Embeddings
  </span>
  <span class="paper-authors">
    Jun Suzuki and Masaaki Nagata
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    STransE: a novel embedding model of entities and relationships in knowledge bases
  </span>
  <span class="paper-authors">
    Dat Quoc Nguyen, Kairit Sirts, Lizhen Qu and Mark Johnson
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Search Space Pruning: A Simple Solution for Better Coreference Resolvers
  </span>
  <span class="paper-authors">
    Nafise Sadat Moosavi and Michael Strube
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Sentiment Composition of Words with Opposing Polarities
  </span>
  <span class="paper-authors">
    Svetlana Kiritchenko and Saif Mohammad
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Sequential Short-Text Classification with Recurrent and Convolutional Neural Networks
  </span>
  <span class="paper-authors">
    Ji Young Lee and Franck Dernoncourt
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Shallow Parsing Pipeline for Hindi-English Code-Mixed Social Media Text
  </span>
  <span class="paper-authors">
    Arnav Sharma, Sakshi Gupta, Raveesh Motlani, Piyush Bansal, Manish Shrivastava, Radhika Mamidi and Dipti Sharma
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Shift-Reduce CCG Parsing using Neural Network Models
  </span>
  <span class="paper-authors">
    Bharat Ram Ambati, Tejaswini Deoskar and Mark Steedman
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Simple, Fast Noise-Contrastive Estimation for Large RNN Vocabularies
  </span>
  <span class="paper-authors">
    Barret Zoph, Ashish Vaswani, Jonathan May and Kevin Knight
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Stating the Obvious: Extracting Visual Common Sense Knowledge
  </span>
  <span class="paper-authors">
    Mark Yatskar, Vicente Ordonez and Ali Farhadi
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Structured Prediction with Output Embeddings for Semantic Image Annotation
  </span>
  <span class="paper-authors">
    Ariadna Quattoni, Arnau Ramisa, Pranava Swaroop Madhyastha, Edgar Simo-Serra and Francesc Moreno-Noguer
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Supertagging With LSTMs
  </span>
  <span class="paper-authors">
    Ashish Vaswani, Yonatan Bisk and Kenji Sagae
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Symmetric Patterns and Coordinations: Fast and Enhanced Representations of Verbs and Adjectives
  </span>
  <span class="paper-authors">
    Roy Schwartz, Roi Reichart and Ari Rappoport
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    The Instantiation Discourse Relation: A Corpus Analysis of Its Properties and Improved Detection
  </span>
  <span class="paper-authors">
    Junyi Jessy Li and Ani Nenkova
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    The Sensitivity of Topic Coherence Evaluation to Topic Cardinality
  </span>
  <span class="paper-authors">
    Jey Han Lau and Timothy Baldwin
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    This is how we do it: Answer Reranking for Open-domain How Questions with Paragraph Vectors and Minimal Feature Engineering
  </span>
  <span class="paper-authors">
    Dasha Bogdanova and Jennifer Foster
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Transition-Based Syntactic Linearization with Lookahead Features
  </span>
  <span class="paper-authors">
    Ratish Puduppully, Yue Zhang and Manish Shrivastava
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Unsupervised Compound Splitting With Distributional Semantics Rivals Supervised Methods
  </span>
  <span class="paper-authors">
    Martin Riedl and Chris Biemann
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Unsupervised Learning of Prototypical Fillers for Implicit Semantic Role Labeling
  </span>
  <span class="paper-authors">
    Niko Schenk and Christian Chiarcos
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Unsupervised Ranking Model for Entity Coreference Resolution
  </span>
  <span class="paper-authors">
    Xuezhe Ma, Zhengzhong Liu and Eduard Hovy
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Using Context to Predict the Purpose of Argumentative Writing Revisions
  </span>
  <span class="paper-authors">
    Fan Zhang and Diane Litman
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Visual Storytelling
  </span>
  <span class="paper-authors">
    Ting-Hao Huang, Francis Ferraro, Nasrin Mostafazadeh, Ishan Misra, Jacob Devlin, Aishwarya Agrawal, Ross Girshick, Xiaodong He, Pushmeet Kohli, Dhruv Batra, Larry Zitnick, Devi Parikh, Lucy Vanderwende, Michel Galley and Margaret Mitchell
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Weak Semi-Markov CRFs for Noun Phrase Chunking in Informal Text
  </span>
  <span class="paper-authors">
    Aldrian Obaja Muis and Wei Lu
  </span>
</li>
