<li class="accepted-paper-item">
  <span class="paper-title">
    A Joint Model of Orthography and Morphological Segmentation
  </span>
  <span class="paper-authors">
    Ryan Cotterell, Tim Vieira and Hinrich Sch&uuml;tze
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    A Long Short-Term Memory Framework for Predicting Humor in Dialogues
  </span>
  <span class="paper-authors">
    Dario Bertero and Pascale Fung
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Controlling Politeness in Neural Machine Translation via Side Constraints
  </span>
  <span class="paper-authors">
    Rico Sennrich, Barry Haddow and Alexandra Birch
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Conversational Flow in Oxford-style Debates
  </span>
  <span class="paper-authors">
    Justine Zhang, Ravi Kumar, Sujith Ravi and Cristian Danescu-Niculescu-Mizil
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Drop-out Conditional Random Fields for Twitter with Huge Mined Gazetteer
  </span>
  <span class="paper-authors">
    Eun-Suk Yang, Young-Bum Kim and Ruhi Sarikaya
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Dynamic Entity Representation with Max-pooling Improves Machine Reading
  </span>
  <span class="paper-authors">
    Sosuke Kobayashi, Ran Tian, Naoaki Okazaki and Kentaro Inui
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Improving sentence compression by learning to predict gaze
  </span>
  <span class="paper-authors">
    Sigrid Klerke, Yoav Goldberg and Anders S&oslash;gaard
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Interpretese vs. Translationese: The Uniqueness of Human Strategies in Simultaneous Interpretation
  </span>
  <span class="paper-authors">
    He He, Jordan Boyd-Graber and Hal Daum&eacute; III
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Multi-Source Neural Translation
  </span>
  <span class="paper-authors">
    Barret Zoph and Kevin Knight
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Retrofitting sense-specific word vectors using parallel text
  </span>
  <span class="paper-authors">
    Allyson Ettinger, Philip Resnik and Marine Carpuat
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Search Space Pruning: A Simple Solution for Better Coreference Resolvers
  </span>
  <span class="paper-authors">
    Nafise Sadat Moosavi and Michael Strube
  </span>
</li>
<li class="accepted-paper-item">
  <span class="paper-title">
    Stating the Obvious: Extracting Visual Common Sense Knowledge
  </span>
  <span class="paper-authors">
    Mark Yatskar, Vicente Ordonez and Ali Farhadi
  </span>
</li>
