        <h1 id="title"><strong><a href="index.html">NAACL HLT 2016</a></strong></h1>
        <p><span class="glyphicon glyphicon-calendar"></span> June 12–17, 2016</p>
        <p>
          <a href="https://goo.gl/11nO1s">
            <span class="glyphicon glyphicon-globe"></span> San Diego, California
          </a>
        </p>
        <p>
          <a href="http://www.sheratonsandiegohotel.com/">
            <span class="glyphicon glyphicon-flag"></span> Sheraton San Diego Hotel &amp; Marina
          </a>
        </p>

